@import '../../../../assets/sass/abstracts';

.loader-container {
    display: flex;
    justify-content: center;
  }

  .loader {
    margin-top: 10rem;
    border: 8px solid rgb(204, 204, 204);
    border-top: 8px solid $primary-color;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
