<mibi-single-center-card-layout cardtitle="">
    <mibi-view-card-body>
        <mibi-layout-box>
            <h1 class="mibi-home-title">{{ appName }}</h1>
            <p>
                Sie befinden sich auf dem neuen Datenaustausch-Portal der
                mikrobiologischen nationalen Referenzlabore des Bundesinstituts
                für Risikobewertung (BfR).
            </p>
            <p>
                Hier haben Sie die Möglichkeit sich zu registrieren und nach dem
                Einloggen Ihre im Probeneinsendebogen V14 eingetragenen Daten
                hochzuladen, zu validieren und an das BfR zu senden. Der
                Probeneinsendebogen ist unter Probendaten \ Excel-Vorlage
                verlinkt und steht auf der gewohnten BfR-Seite zur Verfügung.
            </p>
            <p>
                Möchten Sie Ihren Probeneinsendebogen V14 nur kurz prüfen,
                können Sie die Validierung der Proben wie gewohnt auch ohne sich
                einzuloggen vornehmen.
            </p>
            <p>
                Bei Fragen, Problemen oder Anregungen können Sie gerne mit uns
                in
                <a href="mailto:{{ supportContact }}" target="_top">Kontakt</a>
                treten.
            </p>
        </mibi-layout-box>
    </mibi-view-card-body>
    <mibi-view-card-actions>
        <mibi-layout-box>
            <p>
                Ihr MiBi-Portal Team
            </p>
            <p>
                <a href="https://www.bfr.bund.de" target="_blank">
                    <img
                        class="mibi-home-logo"
                        src="../../assets/bfr_logo.gif"
                        alt="BfR Logo"
                    />
                </a>
            </p>
        </mibi-layout-box>
    </mibi-view-card-actions>
</mibi-single-center-card-layout>
