@use "colors";

.mibi-welcome {
  display: block;
}

.mibi-welcome__team {
  margin-top: 1.5em;
}

.mibi-logo {
  width: 14rem;
}

.mibi-alternative-page {
  font-size: large;
  font-weight: bold;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
