@import '../../../../assets/sass/abstracts';

.mibi-home-title {
  color: $primary-color;
  text-align: center;
  font-size: 4em;
  line-height: normal;
  font-style: bold;
  margin-bottom: 5%;
}

.mibi-home-logo {
  width: 14rem;
}
