<mibi-layout-box>
    <div class="mibi-editor-container">
        <!-- ngModel is splitted into attribute and event to capture all input events instead of change event only -->
        <textarea #focusElement
            rows="1" cols="1"
            class="mibi-editor-container__overlay mibi-editor"
            [ngModel]="data"
            (ngModelChange)="onModelChange($event)"
            (keydown.enter)="onEnter($event)"
        ></textarea>
        <!-- ghost editor defines minimal size for the real editor-->
        <div class="mibi-ghost-editor">{{ghostData}}</div>
    </div>
</mibi-layout-box>
