<mibi-wall-of-text-layout title="Datenschutzhinweise für Teilnehmer am MiBi-Portal des BfR gemäß Datenschutz-Grundverordnung (DS-GVO)">
        <wot-preamble>
                Mit den nachfolgenden Informationen geben wir Ihnen einen Überblick über die Verarbeitung Ihrer
                personenbezogenen Daten durch uns im Rahmen unseres MiBi-Portals zum Austausch von ans BfR gesendeten
                Probendaten und Ihre Rechte aus dem Datenschutzrecht.
        </wot-preamble>
        <wot-content>
                <mibi-datenschutzhinweise></mibi-datenschutzhinweise>
        </wot-content>
</mibi-wall-of-text-layout>