@use "@angular/material" as mat;
@use "colors";

.mibi-withdraw-consent-dialog {
  display: flex;
  flex-direction: column;
  max-height: 85vh;

  .mibi-withdraw-consent-header {
    padding: 1rem 1.5rem;
    background-color: mat.m2-get-color-from-palette(colors.$primary-palette, 600);
    color: mat.m2-get-color-from-palette(colors.$primary-palette, "600-contrast");
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .mibi-withdraw-consent-body {
    padding: 1.5rem;
    overflow-y: auto;
  }

  .mibi-withdraw-consent-text {
    margin: 0 0 1.5rem;
    line-height: 1.4;
    text-align: justify;
  }

  .mibi-withdraw-consent-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
