<!-- <div class="col-md-6 col-md-offset-3"> -->
<div class="container-fluid">

  <h2>Hello {{ currentUser.firstName }} {{ currentUser.lastName }} !</h2>
    <p>Welcome to Epi-Lab !</p>

    <!-- <app-upload></app-upload> -->
    <!-- <router-outlet></router-outlet> -->

    <!-- <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.email}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user)">Delete</a>
        </li>
    </ul>
    <p><a [routerLink]="['/users/login']">Logout</a></p> -->
</div>
