@use "colors";
@use "layout";

.mibi-faq {
  background-color: colors.$background-color;
  color: colors.$on-background-color;
}

.mibi-faq-title {
  font-weight: bold;
  padding: layout.$double-space layout.$single-space;
}

.mibi-faq-text {
  padding: layout.$single-space;
}
