@import "../../../../assets/sass/abstracts";

.mibi-faq {
  background-color: $background-color;
}

.mibi-faq-title {
  font-weight: bold;
  padding: $mibi-double-space $mibi-single-space;
}

.mibi-faq-text {
  padding: $mibi-single-space;
}
