@use "@angular/material" as mat;
@use "colors";
@use "layout";

.mibi-button-group {
  display: flex;
  justify-content: space-between;
}

.mibi-stepper-button-group {
  display: flex;
  justify-content: space-around;
  margin-left: layout.$single-space;
}

.mibi-stepper-button {
  margin-left: layout.$single-space;
  text-transform: none;
}

.mibi-stepper-button-icon {
  font-weight: bold;
}

.mibi-button {
  margin-left: layout.$double-space;
}

.mibi-button--first {
  margin-left: 0;
}

.mibi-optional-selection {
  display: flex;
  flex-direction: column;
}

.mibi-urgency-selection {
  margin: layout.$double-space 0;
}

.mibi-urgency-selection__button-group {
  margin: 0 layout.$double-space;
  display: inline-flex;
}

.mibi-urgency-selection__button {
  margin: 0 layout.$single-space;
}

.mibi-header {
  padding: layout.$single-space;
  text-align: center;
  background-color: mat.get-color-from-palette(colors.$primary-palette, "default");
  color: mat.get-color-from-palette(colors.$primary-palette, "default-contrast");
}

.mibi-warnings {
  display: block;
  margin: layout.$single-space;
}
