<mibi-single-center-card-layout title="Login">
    <mibi-view-card-body>
        <mibi-login-container></mibi-login-container>
    </mibi-view-card-body>
    <mibi-view-card-actions  class="mibi-login-actions">
        <a class="mibi-login-actions__button" mat-button [routerLink]="['/users/register']"
            color="primary">Registrierung</a>
            <a class="mibi-login-actions__button" mat-button [routerLink]="['/users/recovery']"
            color="primary">Passwort vergessen?</a>
    </mibi-view-card-actions>
</mibi-single-center-card-layout>