<mibi-single-center-card-layout title="Login">
    <mibi-view-card-body>
        <mibi-login-container></mibi-login-container>
    </mibi-view-card-body>
    <mibi-view-card-actions class="mibi-view-card__actions" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button [routerLink]="['/users/register']" color="primary">Registrierung</button>
        <button mat-button [routerLink]="['/users/recovery']" color="primary">Passwort vergessen?</button>
    </mibi-view-card-actions>
</mibi-single-center-card-layout>