@use "@angular/material" as mat;
@use "colors";
@use "../../samples-grid";

.mibi-data-cell {
  @include samples-grid.default-cell-style;

  height: 100%;
}

.mibi-data-cell--auto-correction {
  background-color: mat.get-color-from-palette(colors.$primary-palette, 200);
  font-weight: bold;
}

.mibi-data-cell--warning {
  background-color: mat.get-color-from-palette(colors.$warn-palette, 200);
  font-weight: bold;
}

.mibi-data-cell--error {
  background-color: mat.get-color-from-palette(colors.$error-palette, 200);
  font-weight: bold;
}

.mibi-data-cell--correction-offer {
  padding-right: 1rem;
}

.mibi-data-cell--edited {
  // box-shadow is aware of borders, so use it instead of outline
  box-shadow: inset 0 0 0 1px samples-grid.$edit-color;
}

.mibi-correction-offer-hint {
  font-size: 1rem;
  line-height: 1;
  float: right;
  pointer-events: none;
}
