<ng-template #template
    let-data="data"
>
    <div *ngIf="hasCorrectionOffers(data)" class="mibi-correction-offer-hint">
        <mat-icon [inline]="true">arrow_drop_down</mat-icon>
    </div>
    <div class="mibi-data-cell"
        [mibiSamplesGridToolTip]="data"
        [ngClass]="{
            'mibi-data-cell--auto-correction': hasAutoCorrection(data),
            'mibi-data-cell--warning': hasWarning(data),
            'mibi-data-cell--error': hasError(data),
            'mibi-data-cell--correction-offer': hasCorrectionOffers(data),
            'mibi-data-cell--edited': isEdited(data)
        }"
        [innerHTML]="data.value | softLineBreaks: ',\:;|-'">
    </div>
</ng-template>
