@use "@angular/material" as mat;
@use "colors";

.mibi-footer {
  @include mat.elevation(4);

  height: 100%;
  display: flex;
  border-top: 2px solid colors.$primary-color;
  background-color: colors.$surface-color;
}

.mibi-footer__left {
  flex: 0 1 auto;
}

.mibi-footer__right {
  flex: 1 1 auto;
}
