<hr>
<footer class="container-fluid main-footer">
    <mibi-last-change-display-container class="main-footer__last-change"></mibi-last-change-display-container>
  <nav class="main-footer__nav">
    <!-- <hr> -->
    <ul class="main-footer__links">
      <li class="main-footer__link">
        <a href="https://www.bfr.bund.de" target="_blank">
          BfR - Bundesinstitut für Risikobewertung</a>
      </li>
      <li class="main-footer__link">
        <a href="https://foodrisklabs.bfr.bund.de" target="_blank">FoodRisk - Labs</a>
      </li>
      <li class="main-footer__link">
          <a [routerLink]="['/content/faq']">FAQ</a>
        </li>
        <li class="main-footer__link">
            <a [routerLink]="['/content/datenschutzerklaerung']">Datenschutzerklärung</a>
          </li>
      <li class="main-footer__link">
        <a
          href="mailto:{{ supportContact }}"
          target="_top">
          Problem melden
        </a>
      </li>
    </ul>
  </nav>
</footer>