@import "../../../../assets/sass/abstracts";
@import "../../../../assets/sass/components";

$nav-bar-color: $primary-color;

.mibi-avatar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $mibi-half-space/2 $mibi-single-space;
}

.mibi-avatar__content {
  flex: 0 0 auto;
}

.mibi-avatar-button {
  @include app-bar-link();

  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}

.mibi-avatar-button__icon {
  display: block;
  flex: 0 0 auto;
}

.mibi-user-info {
  padding: $mibi-single-space $mibi-double-space;
  display: grid;
  grid-template: auto auto / auto auto;
  grid-gap: $mibi-single-space;
}

.mibi-user-info__icon {
  color: $secondary-color;
}

.mibi-user-info__auxilliary {
  grid-column-start: 2;
}

.mibi-user-info__divider {
  margin: $mibi-single-space;
}

.mibi-register {
  height: 100%;
}

.mibi-register-link {
  @include app-bar-link();

  padding: $mibi-single-space;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mibi-register-link__text {
  flex: 0 1 auto;
}
