@use "sass:math";
@use "colors";
@use "layout";
@use "../actions";

$nav-bar-color: colors.$primary-color;

.mibi-avatar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: math.div(layout.$half-space, 2) layout.$single-space;
}

.mibi-avatar__content {
  flex: 0 0 auto;
}

.mibi-avatar-button {
  @include actions.app-bar-link;

  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}

.mibi-avatar-button__icon {
  display: block;
  flex: 0 0 auto;
}

.mibi-user-info {
  padding: layout.$single-space layout.$double-space;
  display: grid;
  grid-template: auto auto / auto auto;
  grid-gap: layout.$single-space;
}

.mibi-user-info__icon {
  color: colors.$secondary-color;
}

.mibi-user-info__auxilliary {
  grid-column-start: 2;
}

.mibi-user-info__divider {
  margin: layout.$single-space;
}

.mibi-register {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.mibi-register__content {
  flex: 0 1 auto;
}

.mibi-register-link {
  @include actions.app-bar-link;

  height: 100%;
  display: flex;
  align-items: center;
  padding: layout.$single-space;
}

.mibi-register-link__text {
  flex: 0 1 auto;
}
