@import "../../../../assets/sass/abstracts";

$nav-bar-color: $primary-color;

.mibi-avatar {
  background-color: $nav-bar-color;
}

.mibi-avatar__button {
  background-color: $nav-bar-color;
  color: $on-primary-color;
  border: solid;
}

.mibi-avatar__button-icon {
  line-height: 0.7;
}

.mibi-user-info__icon {
  color: $secondary-color;
}

.mibi-user-info {
  padding: 8px;
}

.mibi-user-info__auxilliary {
  margin: 8px 32px;
}

.mibi-user-info__name {
  margin-left: 8px;
}
