<mibi-layout-box>

  <nav class="mibi-avatar" *ngIf="(currentUser$ | async) else anonymous ; let user">
    <div class="mibi-avatar__content">
      <button class="mibi-avatar-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="mibi-avatar-button__icon">person</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <mibi-layout-box>
        <div class="mibi-user-info">
          <mat-icon class="mibi-user-info__icon">face</mat-icon>
          <div class="mat-body-strong"> {{ user.firstName }} {{ user.lastName }}</div>
          <div class="mibi-user-info__auxilliary mat-small">
            <div>{{ user.email }}</div>
            <div>{{ user.institution?.name1 }} {{ user.institution?.name2 }}</div>
          </div>
        </div>
        <mat-divider class="mibi-user-info__divider"></mat-divider>
        <a mat-menu-item (click)="goToProfile()">
          <mat-icon>person</mat-icon>
          <span>Profil</span>
        </a>
        <a mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Abmelden</span>
        </a>
      </mibi-layout-box>
    </mat-menu>
  </nav>

</mibi-layout-box>

<ng-template #anonymous>
  <nav class="mibi-register">
    <a class="mibi-register-link" [routerLink]="['/users/login']">
      <div class="mibi-register-link__text">Anmelden</div>
    </a>
  </nav>
</ng-template>