@use "colors";

.mibi-excel-version-dialog {
  padding: 40px;
}

.mibi-title {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  color: colors.$bfr-base-color;
  text-align: center;
  font-size: 2em;
  line-height: normal;
}

.mibi-dialog-text-style {
  font-size: 1.3em;
  line-height: 1.5;
}

.mibi-dialog-text-style-underline {
  text-decoration: underline;
}

.mibi-link {
  text-align: center;
}

.mibi-mat-dialog-cancel-actions {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
