<mibi-box-layout>
    <div class="mibi-excel-version-dialog">
        <div mat-dialog-title class="mibi-title">{{ data.title }}</div>
        <br />
        <div mat-dialog-content>
            <br />
            <p>
                <span class="mibi-dialog-text-style">{{ data.string1 }}</span>
            </p>
            <p>
                <span class="mibi-dialog-text-style">{{ data.string2 }}</span>
            </p>
            <p>
                <span class="mibi-dialog-text-style">{{ data.string3 }}</span>
            </p>
            <br />
            <p class="mibi-link mibi-dialog-text-style"><a target="_blank" href="{{ data.link }}">{{ data.link }}</a></p>
            <br />
            <p>
                <span class="mibi-dialog-text-style">{{ data.string4 }}</span>
            </p>
        </div>
    </div>
</mibi-box-layout>
