@use "@angular/material" as mat;
@use "colors";

.mibi-upload-container {
  height: 100%;
  display: flex;
}

.mibi-upload-container__content {
  width: 100vw;
  flex: 0 1 auto;
}

.mibi-upload {
  @include mat.elevation(2);

  height: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 100%);
  overflow: auto;
  text-align: center;
  border-radius: 7px;
  border: 3px solid mat.get-color-from-palette(colors.$surface-palette, "lighter");
  transition: all 0.2s ease;
  user-select: none;
  background-color: mat.get-color-from-palette(colors.$surface-palette, "lighter");
  color: mat.get-color-from-palette(colors.$secondary-palette, "darker");
}

.mibi-upload:hover {
  border-color: mat.get-color-from-palette(colors.$secondary-palette, "darker");
}

.mibi-upload-icon {
  font-size: 4em;
  line-height: 1;
}

.mibi-upload-text {
  margin-bottom: 0.5rem;
}

.mibi-upload-button {
  margin: 0 auto 0.5rem;
}
