@import "../../../../assets/sass/abstracts";
@import "~@angular/material/theming";

.mibi-upload {
  @include mat-elevation(2);

  text-align: center;
  background: $surface-color;
  border-radius: 7px;
  border: 3px solid $surface-color;
  transition: all 0.2s ease;
  user-select: none;
  color: $primary-color;
  overflow: auto;
}

.mibi-upload:hover {
  border-color: $primary-color;
}

.mibi-upload-icon {
  font-size: 4em;
  line-height: 1;
}

.mibi-upload-text {
  margin-bottom: 0.5rem;
}

.mibi-upload-button {
  background: $primary-color;
  margin-bottom: 0.5rem;
}
