@import '../../../../assets/sass/abstracts';

h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    color: $primary-color;
    margin-bottom: 20;
  }

  .top-bottom-margin {
    margin-top: 70px;
    margin-bottom: 70px;
  }