@use "sass:map";
@use "sass:color";
@use "colors";

$edit-color: color.adjust(map.get(colors.$primary-palette, "A400"), $lightness: -25%);

$cell-border: 1px solid colors.$surface-color;
$cell-padding: 0.15rem 0.3rem;

@mixin default-text-style {
  font-size: 0.75rem;
  line-height: normal;
}

@mixin default-cell-style {
  @include default-text-style;

  border: none;
  border-right: $cell-border;
  border-bottom: $cell-border;
  padding: $cell-padding;
  background-color: colors.$background-color;
}
