@use "sass:map";
@use "sass:color";
@use "@angular/material" as mat;
@use "colors";

$ui-color: mat.get-color-from-palette(colors.$secondary-palette, "default");
$edit-color: mat.get-color-from-palette(colors.$secondary-palette, "darker");

$cell-border: 1px solid mat.get-color-from-palette(colors.$surface-palette, "default");
$cell-padding: 0.15rem 0.3rem;

@mixin default-text-style {
  font-size: 0.75rem;
  line-height: normal;
}

@mixin default-cell-style {
  @include default-text-style;

  border: none;
  border-right: $cell-border;
  border-bottom: $cell-border;
  padding: $cell-padding;
  background-color: colors.$background-color;
  color: colors.$on-background-color;
}
