@import "abstracts";

$mibi-sampels-grid-edit-color: darken(map-get($mibi-primary, "A400"), 25%);

$mibi-sampels-grid-cell-border: 1px solid $surface-color;
$mibi-sampels-grid-cell-padding: 0.15rem 0.3rem;

@mixin mibi-samples-grid-default-text-style {
  font-size: 0.75rem;
  line-height: normal;
}

@mixin mibi-samples-grid-default-cell-style {
  @include mibi-samples-grid-default-text-style();

  border: none;
  border-right: $mibi-sampels-grid-cell-border;
  border-bottom: $mibi-sampels-grid-cell-border;
  padding: $mibi-sampels-grid-cell-padding;
  background-color: $background-color;
}
