.faq-view__section {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.faq-view {
    display: flex;
    flex-direction: column;
}

.faq-view__faqGroup {
    display: flex;
    justify-content: center;
}