@import "../../../../assets/sass/abstracts";

.mibi-card-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mibi-card-layout__content {
  max-width: 800px;
  min-width: 400px;
  flex: 0 1 auto;
  margin: 10%;
  margin-top: $mibi-octuple-space;
  margin-bottom: $mibi-quadruple-space;
}

.mibi-card-title {
  font-size: 2em;
  line-height: normal;
}

.mibi-mat-card-title {
  margin-left: -8px;
}
