<mibi-wall-of-text-layout title="Datenschutzerklärung">
        <wot-preamble>
                Für das Bundesinstitut für Risikobewertung (BfR) ist ein
                verantwortungsbewusster Umgang mit personenbezogenen Daten ein wichtiges Anliegen. Wir möchten, dass
                Nutzerinnen und Nutzer wissen, wann welche Daten durch das BfR erhoben und verwendet werden.
                Das BfR betreibt unter der Domain <a href="www.bfr.bund.de">www.bfr.bund.de</a> eine Internetseite. Auf
                dieser Seite wird die Öffentlichkeit über die Aufgaben und den gesetzlichen Auftrag des BfR informiert.
                Zusätzlich werden umfangreiche Informationen zur Verfügung stellt.
                Personenbezogene Daten werden von uns nur im notwendigen Umfang verarbeitet. Welche Daten auf welcher
                Grundlage verarbeitet werden, ist abhängig davon, für welchen Zweck diese benötigt werden.
        </wot-preamble>
        <wot-content>
                <mibi-datenschutzerklaerung></mibi-datenschutzerklaerung>
        </wot-content>
</mibi-wall-of-text-layout>