<mibi-dialog-view [config]="config$ | async" (confirm)="onConfirm()" (cancel)="onCancel()">
  <mibi-layout-box>
    <mat-form-field class="mibi-comment">
        <mat-label>
          {{(config$ | async).commentTitle}}
        </mat-label>
      <textarea #commentInput matInput [formControl]="commentControl" rows="{{(config$ | async).visibleCommentLines}}" cdkFocusInitial type="text" maxlength="{{(config$ | async).maxCommentLength}}" placeholder="{{(config$ | async)?.commentPlaceHolder}}"></textarea>
      <mat-hint align="start" [class.mibi-comment-hint--maxCharsReached]="(commentInput.value?.length || 0) === (config$ | async).maxCommentLength">          
        {{commentInput.value?.length || 0}}/{{(config$ | async).maxCommentLength}}
      </mat-hint>
    </mat-form-field>
  </mibi-layout-box>
</mibi-dialog-view>