<div class="mibi-banner" fxLayout="row" fxLayoutAlign="center none">
  <mat-icon class="mibi-banner__icon" [ngClass]="{
      'mibi-banner__icon--success': banner.type === 'success',
      'mibi-banner__icon--error': banner.type === 'error' }">{{banner.icon}}</mat-icon>
  <div class="mibi-banner__message mat-body-2">{{banner.message}}</div>
  <div class="mibi-banner__buttons">
    <button *ngIf="!!banner.auxilliaryAction" class="mibi-user-action" mat-button color="accent" (click)="onAuxAction()">{{banner.auxilliaryAction.label}}</button>
    <button class="mibi-user-action" mat-button color="accent" (click)="onMainAction()">{{banner.mainAction.label}}</button>
  </div>

</div>