@import "../../../../assets/sass/abstracts";

.mibi-banner {
  padding: 4px;
  min-height: 36px;
}

.mibi-banner__icon {
  margin-right: 16px;
  line-height: 1.5;

  &--error {
    color: $error-color;
  }

  &--success {
    color: $secondary-color;
  }

  &--warning {
    color: $secondary-color;
  }
}

.mibi-banner__message {
  line-height: 2.5;
}
