@use "@angular/material" as mat;
@use "colors";
@use "layout";

.mibi-banner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: colors.$background-color;
  color: colors.$on-background-color;
}

.mibi-banner__message {
  flex: 0 1 auto;
}

.mibi-banner__actions {
  align-self: stretch;
  flex: 0 1 auto;
}

.mibi-banner-message {
  display: flex;
  align-items: center;
}

.mibi-banner-message__icon {
  flex: 0 0 auto;
  margin: layout.$single-space;

  &--error {
    color: mat.get-color-from-palette(colors.$error-palette, "default");
  }

  &--success {
    color: mat.get-color-from-palette(colors.$success-palette, "default");
  }

  &--warning {
    color: mat.get-color-from-palette(colors.$warn-palette, "default");
  }
}

.mibi-banner-message__text {
  flex: 0 1 auto;
  padding: layout.$single-space;
}

.mibi-banner-actions {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.mibi-banner-actions__item {
  flex: 1 1 auto;
}
