@import "../../../../assets/sass/abstracts";

.mibi-banner {
  padding: $mibi-halfSpace;
  min-height: $mibi-quintupleSpace;
}

.mibi-banner__icon {
  margin-right: $mibi-doubleSpace;
  line-height: 1.5;

  &--error {
    color: $error-color;
  }

  &--success {
    color: $secondary-color;
  }

  &--warning {
    color: $secondary-color;
  }
}

.mibi-banner__message {
  line-height: 2.5;
}
