@import "../../../../assets/sass/abstracts";

.mibi-datenschutzhinweise {
  text-align: justify;
}

.mibi-datenschutzhinweise-item-header {
  counter-increment: datenschutz-section;
  font-weight: bold;
  margin-top: 3%;
  text-align: center;
}

.mibi-datenschutzhinweise-item-header::before {
  content: counter(datenschutz-section) ". ";
}

.mibi-datenschutzhinweise-item {
  padding: 0 25% * 0.5;
}

.mibi-datenschutzhinweise-footer {
  border-top: 1px solid $primary-color;
}

.mibi-datenschutzhinweise-list {
  list-style-type: lower-alpha;
}
