<mibi-view-layout title="Datenschutzhinweise für Teilnehmer am MiBi-Portal des BfR gemäß Datenschutz-Grundverordnung (DS-GVO)">
        <br>
        <p>Mit den nachfolgenden Informationen geben wir Ihnen einen Überblick über die Verarbeitung Ihrer
                personenbezogenen Daten durch uns im Rahmen unseres MiBi-Portals zum Austausch von ans BfR gesendeten
                Probendaten und Ihre Rechte aus dem Datenschutzrecht.</p>
        <br>
    <mibi-datenschutz-hinweise></mibi-datenschutz-hinweise>
</mibi-view-layout>