@use "layout";

.mibi-form-group {
  @include layout.form-group;
}

.mibi-form-field {
  @include layout.form-field;
}

.mibi-recocery-actions {
  display: flex;
  justify-content: space-between;
}

.mibi-recocery-actions__button {
  flex: 0 0 auto;
}
