<mibi-single-center-card-layout title="Registrierung">
    <mibi-view-card-body>
        <mibi-register-container></mibi-register-container>
    </mibi-view-card-body>
    <mibi-view-card-actions>
        <div class="datenschutz-link-container mat-small" fxLayout="row" fxLayoutAlign="space-around none" >
            <span>
                Bitte beachten Sie unsere <a [routerLink]="['/users/datenschutzhinweise']">Datenschutzhinweise</a>
                für die Registrierung sowie unsere allgemeine <a [routerLink]="['/content/datenschutzerklaerung']">Datenschutzerklärung</a>
            </span>
        </div>
    </mibi-view-card-actions>
</mibi-single-center-card-layout>
