/* stylelint-disable selector-class-pattern */

@use "@angular/material" as mat;
@use "colors";
@use "layout";

body {
  // this is necessary because a tooltip can overflow a scrollbar unintentionally activating the page scroll bars
  overflow: hidden;
}

$tooltip-tip-color: mat.get-color-from-palette(colors.$surface-palette, "lighter");
$tooltip-on-tip-color: mat.get-color-from-palette(colors.$surface-palette, "lighter-contrast");

$tooltip-error-color: mat.get-color-from-palette(colors.$error-palette, "default");
$tooltip-on-error-color: mat.get-color-from-palette(colors.$error-palette, "default-contrast");

$tooltip-warning-color: mat.get-color-from-palette(colors.$warn-palette, "default");
$tooltip-on-warning-color: mat.get-color-from-palette(colors.$warn-palette, "default-contrast");

$tooltip-info-color: mat.get-color-from-palette(colors.$primary-palette, "default");
$tooltip-on-info-color: mat.get-color-from-palette(colors.$primary-palette, "default-contrast");

$tooltip-border-color: black;

*[id^="tooltipster-"] ul {
  padding-left: layout.$double-space;
}

.tooltipster-box {
  margin: layout.$single-space;
}

.tooltipster-content {
  font-size: 12px;
  font-style: italic;
  padding: 2px 5px 3px 3px;
}

.tooltipster-sidetip {
  .tooltipster-box {
    border-radius: 4px;
    box-shadow: 0 0 14px rgba(0 0 0 / 30%);
    border: 2px solid $tooltip-border-color;
  }

  .tooltipster-arrow-background {
    border: 9px solid transparent;
  }

  .tooltipster-arrow-border {
    border: 9px solid transparent;
  }

  &.tooltipster-bottom {
    .tooltipster-arrow-uncropped {
      top: -9px;
    }

    .tooltipster-arrow-border {
      border-bottom-color: $tooltip-border-color;
    }

    .tooltipster-arrow-background {
      top: 1px;
    }
  }

  &.tooltipster-right {
    .tooltipster-arrow-uncropped {
      left: -9px;
    }

    .tooltipster-arrow-border {
      border-right-color: $tooltip-border-color;
    }

    .tooltipster-arrow-background {
      left: 1px;
    }
  }

  &.tooltipster-left {
    .tooltipster-arrow-border {
      border-left-color: $tooltip-border-color;
    }

    .tooltipster-arrow-background {
      left: -1px;
    }
  }

  &.tooltipster-top {
    .tooltipster-arrow-border {
      border-top-color: $tooltip-border-color;
    }

    .tooltipster-arrow-background {
      top: -1px;
    }
  }

  &.tooltipster-tip {
    &.tooltipster-bottom .tooltipster-arrow-background {
      border-bottom-color: $tooltip-tip-color;
    }

    &.tooltipster-left .tooltipster-arrow-background {
      border-left-color: $tooltip-tip-color;
    }

    &.tooltipster-top .tooltipster-arrow-background {
      border-top-color: $tooltip-tip-color;
    }

    &.tooltipster-right .tooltipster-arrow-background {
      border-right-color: $tooltip-tip-color;
    }

    .tooltipster-box {
      background-color: $tooltip-tip-color;
    }

    .tooltipster-content {
      color: $tooltip-on-tip-color;
    }
  }

  &.tooltipster-info {
    &.tooltipster-bottom .tooltipster-arrow-background {
      border-bottom-color: $tooltip-info-color;
    }

    &.tooltipster-left .tooltipster-arrow-background {
      border-left-color: $tooltip-info-color;
    }

    &.tooltipster-top .tooltipster-arrow-background {
      border-top-color: $tooltip-info-color;
    }

    &.tooltipster-right .tooltipster-arrow-background {
      border-right-color: $tooltip-info-color;
    }

    .tooltipster-box {
      background-color: $tooltip-info-color;
    }

    .tooltipster-content {
      color: $tooltip-on-info-color;
    }
  }

  &.tooltipster-warning {
    &.tooltipster-bottom .tooltipster-arrow-background {
      border-bottom-color: $tooltip-warning-color;
    }

    &.tooltipster-left .tooltipster-arrow-background {
      border-left-color: $tooltip-warning-color;
    }

    &.tooltipster-top .tooltipster-arrow-background {
      border-top-color: $tooltip-warning-color;
    }

    &.tooltipster-right .tooltipster-arrow-background {
      border-right-color: $tooltip-warning-color;
    }

    .tooltipster-box {
      background-color: $tooltip-warning-color;
    }

    .tooltipster-content {
      color: $tooltip-on-warning-color;
    }
  }

  &.tooltipster-error {
    &.tooltipster-bottom .tooltipster-arrow-background {
      border-bottom-color: $tooltip-error-color;
    }

    &.tooltipster-left .tooltipster-arrow-background {
      border-left-color: $tooltip-error-color;
    }

    &.tooltipster-top .tooltipster-arrow-background {
      border-top-color: $tooltip-error-color;
    }

    &.tooltipster-right .tooltipster-arrow-background {
      border-right-color: $tooltip-error-color;
    }

    .tooltipster-box {
      background-color: $tooltip-error-color;
    }

    .tooltipster-content {
      color: $tooltip-on-error-color;
    }
  }

  .tooltipster-arrow {
    height: 10px;
    margin-left: -9px;
    width: 18px;
  }
}

.tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-warning.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-warning.tooltipster-right .tooltipster-arrow {
  height: 14px;
  margin-left: layout.$half-space;
  margin-top: -(layout.$double-space);
  width: 5px;
}

.tooltipster-sidetip.tooltipster-info.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-info.tooltipster-right .tooltipster-arrow {
  height: 17px;
  margin-left: layout.$half-space;
  margin-top: -(layout.$double-space);
  width: 10px;
}

.tooltipster-sidetip.tooltipster-tip.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-tip.tooltipster-right .tooltipster-arrow {
  height: 18px;
  margin-left: 2px;
  margin-top: -(layout.$double-space);
  width: layout.$single-space;
}
