<div class="mibi-mat-dialog">

    <mibi-box-layout>
    
        <div class="mibi-dialog">
            <h1 mat-dialog-title>{{config.title}}</h1>
            <div mat-dialog-content class="mibi-mat-dialog-content">
                <mibi-dialog-warnings-view [warnings]="config.warnings"></mibi-dialog-warnings-view>
                <div class="mibi-dialog-message"> {{config.message}} </div>
                <ng-content></ng-content>
            </div>
            <div mat-dialog-actions class="mibi-mat-dialog-actions">
                <button type="button" mat-button *ngIf="config.cancelButtonConfig" color="primary"
                    (click)="onCancel()">{{config.cancelButtonConfig.label}}</button>
                <button type="button" mat-raised-button cdkFocusInitial color="primary"
                    (click)="onConfirm()">{{config.confirmButtonConfig.label}}</button>
            </div>
        </div>
    
    </mibi-box-layout>
    
</div>