@use "layout";
@use "@angular/material" as mat;

// mat-dialog scrolling behavior is buggy, so we override those styles

.mibi-mat-dialog {
  max-height: 80vh;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 24px; // container padding removed in v15 MDC, so we add it here
}

.mibi-mat-dialog-content {
  flex: 1 1 auto;
  min-height: 0; // allows flex item to shrink below its natural height for internal scrolling
  max-height: unset; // override AM15's max-height: 65vh on mat-mdc-dialog-content
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: fit-content(352px); // 400px minus 24px dialog padding on each side
  margin: 0;
  padding: 0;
  overflow: auto;
}

.mibi-mat-dialog-content__item {
  min-width: 0; // firefox fix, tells fit-content the actual minimum = 0 by overflow handled by scrolling
}

.mibi-warnings {
  padding-bottom: layout.$half-space;
}

.mibi-message {
  padding-bottom: layout.$single-space;
}

.mibi-mat-dialog-actions {
  flex: 0 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 0;
}
