@use "colors";
@use "layout";

.mibi-warnings {
  @include layout.list-style-none;

  box-shadow: 0 1px colors.$bfr-darkgrey;
}

.mibi-warnings__item {
  background-color: colors.$bfr-lightocre;
  margin-bottom: layout.$single-space;
  padding: layout.$single-space;
}

.mibi-warning-part--emphasized {
  font-weight: bold;
}
