@import "abstracts";
@import "layout";

.mibi-warnings {
  @include list-style-none();

  box-shadow: 0 1px $bfr-darkgrey;
}

.mibi-warnings__item {
  background-color: $bfr-lightocre;
  margin-bottom: $mibi-single-space;
  padding: $mibi-single-space;
}

.mibi-warning-part--emphasized {
  font-weight: bold;
}
