@use "@angular/material" as mat;
@use "colors";
@use "layout";

.mibi-warnings {
  @include layout.list-style-none;

  border-bottom: 1px solid mat.get-color-from-palette(colors.$primary-palette, "default");
}

.mibi-warnings__item {
  background-color: mat.get-color-from-palette(colors.$warn-palette, "default");
  color: mat.get-color-from-palette(colors.$warn-palette, "default-contrast");
  margin-bottom: layout.$single-space;
  padding: layout.$single-space;
}

.mibi-warning-part--emphasized {
  font-weight: bold;
}
