@import "../../../../assets/sass/abstracts";

.mibi-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.mibi-page__header {
  @include mat-elevation(4);

  z-index: 999;
  flex: 0 0 auto;
  // fix for safari, opera not setting the height to flexed height
  height: max-content;
  overflow: auto;
}

.mibi-page__body {
  flex: 1 1 auto;
  // fix for safari, opera not setting the height to flexed height
  height: max-content;
  overflow: auto;
}

.mibi-page__footer {
  flex: 0 0 auto;
  // fix for safari, opera not setting the height to flexed height
  height: max-content;
  overflow: auto;
}
