@import "abstracts";
@import "../../samples-grid.styles";

@mixin mibi-editor-style {
  @include mibi-samples-grid-default-cell-style();

  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  white-space: pre-wrap;
}

.mibi-editor-container {
  position: relative;
  height: 100%;
}

.mibi-editor-container__overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.mibi-editor {
  @include mibi-editor-style();
  @include mat-elevation(3);

  overflow: hidden;
  outline: $mibi-sampels-grid-edit-color solid 3px;
  outline-offset: -3px;
  background-color: $background-color;
}

.mibi-ghost-editor {
  @include mibi-editor-style();

  color: transparent;
}
