<mibi-single-center-card-layout cardTitle="Auftrag wählen" disable-content-overflow-handling>
    <mibi-card-content>
        <table mat-table class="mibi-order-list" [dataSource]="items">

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Datum, Zeit</th>
                <td mat-cell *matCellDef="let item">{{item.date | date:'medium'}}</td>
            </ng-container>
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Dateiname</th>
                <td mat-cell *matCellDef="let item">{{item.name}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mibi-order"></tr>

        </table>
    </mibi-card-content>
</mibi-single-center-card-layout>
