@use "sass:color";
@use "@angular/material" as mat;
@use "layout";
@use "colors";

.mibi-scroll-container {
  height: 100%;
  overflow: auto;
}

.mibi-table {
  width: 100%;
  user-select: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.mat-column-date {
  white-space: nowrap;
}

/* stylelint-disable-next-line selector-class-pattern */
.mat-column-name {
  padding-left: layout.$quadruple-space;
}

.mibi-cell {
  position: relative;
}

.mibi-cell__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.mibi-row:hover .mibi-cell__overlay--hint {
  background-color: color.change(colors.$ui-color, $alpha: colors.$hover-opacity);
}

.mibi-row:active .mibi-cell__overlay--hint {
  background-color: color.change(colors.$ui-color, $alpha: colors.$selection-opacity);
}
