@import "../../../../assets/sass/abstracts";

.mibi-faq-section {
  margin-bottom: $mibi-double-space;
  padding: 0 30% * 0.5;
}

.mibi-faq-section-title {
  background: $primary-color;
  color: $on-primary-color;
  text-align: center;
  padding: $mibi-single-space;
  margin: 0;
}
