@import "../../../../assets/sass/abstracts";

.faq-group {
  margin-bottom: $mibi-double-space;
  background: $primary-color;
  width: 70%;
}

.faq-group__title {
  color: $on-primary-color;
  text-align: center;
  padding: $mibi-single-space;
  margin: 0;
}
