@use "@angular/material" as mat;
@use "colors";
@use "layout";

.mibi-faq-section {
  margin-bottom: layout.$double-space;
  padding: 0 30% * 0.5;
}

.mibi-faq-section-title {
  padding: layout.$single-space;
  margin: 0;
  background-color: mat.get-color-from-palette(colors.$primary-palette, "lighter");
  color: mat.get-color-from-palette(colors.$primary-palette, "lighter-contrast");
  text-align: center;
}
