@import "abstracts";
@import "../../samples-grid.styles";

@mixin mibi-editor-style {
  @include mibi-samples-grid-default-cell-style();

  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  white-space: pre-wrap;
}

.mibi-editor {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, 100%);
  grid-template-rows: minmax(min-content, 100%) 0;
}

.mibi-text-editor {
  @include mibi-editor-style();
  @include mat-elevation(3);

  position: absolute;
  resize: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: $mibi-sampels-grid-edit-color solid 3px;
  outline-offset: -3px;
  background-color: $background-color;
}

.mibi-ghost-editor {
  @include mibi-editor-style();

  height: 100%;
  color: transparent;
}

.mibi-editor__item {
  position: relative;
}

.mibi-list {
  display: grid;
}
