@import "../../../../assets/sass/abstracts";
@import "../../../../assets/sass/components";
@import "../../../../assets/sass/layout";
@import "~@angular/material/theming";

.mibi-app-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mibi-app-bar__top {
  flex: 0 1 auto;

  @include mibi-layout-safari-fix();
}

.mibi-app-bar-top {
  overflow: auto;
  display: flex;
  background-color: $primary-color;
}

.mibi-app-bar-top__left {
  flex: 0 1 auto;
}

.mibi-app-title {
  @include app-bar-link();

  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  padding: $mibi-single-space;
  padding-left: $mibi-double-space;
  font-size: 1.1rem;
  line-height: 1;
}

.mibi-app-title__text {
  flex: 0 1 auto;
}

.mibi-app-bar-top__center {
  flex: 0 1 auto;
  margin-left: auto;
}

.mibi-app-bar-top__right {
  flex: 0 1 5%;
}

.mibi-app-bar__bottom {
  flex: 0 1 auto;
  overflow: auto;
}
