@import "../../../../assets/sass/abstracts";
@import "~@angular/material/theming";

.mibi-app-bar-top {
  @include mat-elevation(4);

  height: $mibi-nonupleSpace;

  &.mibi-app-bar-top--small {
    height: $mibi-sextupleSpace;
  }
}

.mibi-app-bar-top__main {
  padding-top: $mibi-halfSpace;
}

.mibi-app-bar-top__title {
  color: $on-primary-color;
  text-decoration: none;
  font-size: 1.1rem;
  text-align: center;
  margin-top: $mibi-singleSpace;
  min-width: 180px;
  min-width: max-content;
}

.mibi-app-bar-top__title:visited {
  color: $on-primary-color;
}

.mibi-app-bar-top__title:hover,
.mibi-app-bar-top__title:active {
  color: $surface-color;
}

.mibi-app-bar-top__avatar {
  min-width: 150px;
  min-width: max-content;
}
