@use "layout";

.mibi-app-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mibi-app-bar__top {
  flex: 1 1 auto;
  overflow: auto;

  @include layout.safari-fix;
}

.mibi-app-bar__bottom {
  flex: 1 1 auto;
  overflow: auto;
}
