<mat-toolbar class="mibi-app-bar-top">
    <div class="mibi-app-bar-top__navigation">
        <mibi-nav-bar-container></mibi-nav-bar-container>
    </div>
    <div class="mibi-app-bar-top__title">
        <a mat-flat-button [routerLink]="(currentUser$ | async) ? ['/users/profile'] : ['/']" class="mibi-app-bar-top__title-link">
            {{ appName }}
        </a>
    </div>
    <div class="mibi-app-bar-top__action-items">
            <mibi-action-item-list-container></mibi-action-item-list-container>
    </div>
    <div class="mibi-app-bar-top__overflow-menu">
    </div>
</mat-toolbar>