@import "abstracts";
@import "components";
@import "layout";

.mibi-app-bar-bottom {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: $mibi-action-color;
  color: mat-color($primary-palette, darker-contrast);
}

.mibi-app-bar-bottom__left {
  flex: 1 1 auto;
  min-height: calc(1rem + (2 * #{$mibi-half-space}));
  padding: $mibi-half-space $mibi-single-space;
  font-size: 1rem;
  line-height: 1rem;
}

.mibi-app-bar-bottom__right {
  flex: 0 1 auto;
}

.mibi-action-list {
  height: 100%;
  display: flex;
  flex-flow: row wrap;

  @include list-style-none();
}

.mibi-action-list__item {
  flex: 0 1 auto;
}

.mibi-action-list__gap {
  flex: 1 0 auto;
}

.mibi-action-link {
  @include app-bar-link();

  height: 100%;
  display: flex;
  align-items: center;
  padding: $mibi-half-space $mibi-single-space;
  cursor: pointer;
}

.mibi-action-link__label {
  flex: 0 1 auto;
}

.mibi-action-link__icon {
  flex: 0 1 auto;
  padding-right: $mibi-half-space / 2;
}
