<ng-template #customActionItem let-icon="icon" let-onClick="onExecute" let-label="label">
    <a class="mibi-action-link" (click)="onClick($event)">
        <mat-icon [inline]="true" class="mibi-action-link__icon">{{icon}}</mat-icon>
        <span class="mibi-action-link__label">{{label}}</span>
    </a>
</ng-template>

<ng-template #uploadActionItem let-icon="icon" let-onClick="onExecute" let-label="label">
    <mibi-upload-container (onFileUpload)="onClick($event)">
        <mibi-upload-action-item #uploadChild>
            <a class="mibi-action-link">
                <mat-icon [inline]="true" class="mibi-action-link__icon">{{icon}}</mat-icon>
                <span class="mibi-action-link__label">{{label}}</span>
            </a>
        </mibi-upload-action-item>
    </mibi-upload-container>
</ng-template>

<mibi-layout-box>
    <div class="mibi-app-bar-bottom">
        <div class="mibi-app-bar-bottom__left">
            {{actionBarTitle}}
        </div>
        <div class="mibi-app-bar-bottom__right">
            <ul class="mibi-action-list">
                <li *ngFor="let config of actionConfigs" class="mibi-action-list__item" mat-button>
                    <ng-container *ngTemplateOutlet="
                        isUpload(config.type) ? uploadActionItem : customActionItem;
                        context: config
                    "></ng-container>
                </li>
            </ul>
        </div>
    </div>
</mibi-layout-box>