<ng-template #customActionItem let-icon="icon" let-onClick="onExecute" let-label="label">
    <a class="mibi-action-link" (click)="onClick($event)">
        <mat-icon [inline]="true" class="mibi-action-link__icon">{{icon}}</mat-icon>
        <span class="mibi-action-link__label">{{label}}</span>
    </a>
</ng-template>

<ng-template #uploadActionItem let-icon="icon" let-onClick="onExecute" let-label="label">
    <mibi-upload-container (uploadFile)="onClick($event)">
        <mibi-upload-action-item #uploadChild>
            <a class="mibi-action-link">
                <mat-icon [inline]="true" class="mibi-action-link__icon">{{icon}}</mat-icon>
                <span class="mibi-action-link__label">{{label}}</span>
            </a>
        </mibi-upload-action-item>
    </mibi-upload-container>
</ng-template>

<ng-template #downloadTemplateActionItem let-onClick="onExecute" let-label="label" let-tooltip="tooltip">
    <a mat-menu-item (click)="onClick($event)" [matTooltip]="tooltip" matTooltipPosition="left" matTooltipClass="mibi-action-link__tooltip">
        {{label}}
    </a>
</ng-template>

<mibi-box-layout>
    <div class="mibi-app-bar-bottom">
        <div class="mibi-app-bar-bottom__left">
            {{actionBarTitle}}
        </div>
        <div class="mibi-app-bar-bottom__right">
            <ul class="mibi-action-list">
                <ng-container *ngFor="let config of actionConfigs">
                    <li *ngIf="!isDownloadTemplate(config.type) && !isDownloadZomoPlanFile(config.type)" class="mibi-action-list__item">
                        <ng-container *ngTemplateOutlet="
                            isUpload(config.type) ? uploadActionItem : customActionItem;
                            context: config
                        "></ng-container>
                    </li>
                </ng-container>

                <li>
                    <button type="button" class="mibi-action-link" [matMenuTriggerFor]="excelTemplateMenu">
                        <mat-icon [inline]="true" class="mibi-action-link__icon">assignment_returned</mat-icon>
                        <span class="mibi-action-link__label">Excel-Vorlage</span>
                        <mat-icon [inline]="true" class="mibi-action-link__icon">arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #excelTemplateMenu="matMenu">
                        <ng-container *ngFor="let config of downloadTemplateConfigs">
                            <ng-container *ngTemplateOutlet="downloadTemplateActionItem; context: config"></ng-container>
                        </ng-container>
                    </mat-menu>
                </li>

                <li *ngIf="zomoPlanFileConfigExists()">
                    <ng-container *ngIf="(downloadZomoPlanFileConfig?.zomoPlanFiles?.length || 0) === 0; else hasFiles">
                        <a class="mibi-action-link mibi-action-link__disabled">
                            <mat-icon [inline]="true" class="mibi-action-link__icon">assignment_returned</mat-icon>
                            <span class="mibi-action-link__label">{{ downloadZomoPlanFileConfig?.label }}</span>
                        </a>
                    </ng-container>
                    <ng-template #hasFiles>
                        <ng-container *ngIf="downloadZomoPlanFileConfig?.zomoPlanFiles!.length === 1; else manyFiles">
                            <a class="mibi-action-link" (click)="onDownloadZomoPlanFile(downloadZomoPlanFileConfig?.zomoPlanFiles![0])">
                                <mat-icon [inline]="true" class="mibi-action-link__icon">assignment_returned</mat-icon>
                                <span class="mibi-action-link__label">{{ downloadZomoPlanFileConfig?.label }}</span>
                            </a>
                        </ng-container>
                        <ng-template #manyFiles>
                            <button type="button" class="mibi-action-link" [matMenuTriggerFor]="zomoPlanFileMenu">
                                <mat-icon [inline]="true" class="mibi-action-link__icon">assignment_returned</mat-icon>
                                <span class="mibi-action-link__label">{{ downloadZomoPlanFileConfig?.label }}</span>
                                <mat-icon [inline]="true" class="mibi-action-link__icon">arrow_drop_down</mat-icon>
                            </button>
                            <mat-menu #zomoPlanFileMenu="matMenu">
                                <a mat-menu-item *ngFor="let zomoPlanFile of downloadZomoPlanFileConfig?.zomoPlanFiles" (click)="onDownloadZomoPlanFile(zomoPlanFile)">
                                    {{ downloadZomoPlanFileConfig?.label}} {{ zomoPlanFile.year }}
                                </a>
                            </mat-menu>
                        </ng-template>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</mibi-box-layout>