@import "../../../../assets/sass/abstracts";

.mibi-action-item-list {
  width: 100%;
  list-style: none;
  padding-top: $mibi-halfSpace;

  &--foreground {
    z-index: 12;
  }
}

.mibi-action-item {
  margin-right: $mibi-singleSpace;
}

.mibi-action-item__label {
  text-align: center;
  padding: 0;
  font-size: 1.1rem;
}

.mibi-action-item__link {
  @include app-bar-link();

  cursor: pointer;
}

.primary-color-light {
  background-color: mat-color($primary-palette, $app-bar-action-item-background);
  color: mat-color($primary-palette, darker-contrast);
}

.mibi-action-item__icon {
  line-height: 1.2;
  font-size: 1rem;
  text-align: right;
}

.mibi-action-item__upload-icon {
  margin-right: 2px;
}
