body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.navbar-blue {
  background: rgb(3, 78, 168);
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.navbar-brand-color, .navbar-text-color {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  text-align: center;
}

.navbar-brand-color:hover,
.navbar-brand-color:focus,
.navbar-brand-color:active,
.navbar-text-color:hover,
.navbar-text-color:focus,
.navbar-text-color:active {
  background: rgb(3, 78, 168);
  color: rgb(204, 204, 204);
  outline: none;
}

.open > a {
  background: inherit;
}

.dropdown {
  margin: 0 2rem;
}

.dropdown-info > a,
.dropdown-info > a:hover {
  background: rgb(255, 255, 255);
  font-weight: bold;
}

.divider {
  margin-top: 0;
  background: rgb(204, 204, 204);
  margin-left: 1rem;
  margin-right: 1rem;
}

.dropdown-link {
  cursor: pointer;
}

.dropdown-link:hover,
.dropdown-link:focus,
.dropdown-link:active {
  cursor: pointer;
  outline: none;
}


.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 5rem 0;
}

.main-footer {
  background: rgb(255, 255, 255);
  padding: 2rem;;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 1030;
  height: 5rem;
}

hr {
  position: fixed;
  bottom: 5rem;
  left: 0;
  z-index: 1040;
  margin: 0;
  height: 1px;
  background-color:rgb(3, 78, 168);
  width: 100vw;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  padding: 0 4rem;
}

.main-footer__link a {
  color: rgb(3, 78, 162);
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: rgb(0, 0, 0);
}


