<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav
    id="sidebar"
    [ngClass]="{active: isSidebarActive()}">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">
          <button
            id="menuclose"
            class="btn btn-primary"
            (click)="deactivateSidebar()">
            <i class="glyphicon glyphicon-arrow-left"></i>
          </button>
        </div>
      </div>

      <div class="text-center">

        <div class="row">
          <div class="col-md-12">
            <a
              [routerLink]="authService.loggedIn() ? ['/main'] : ['/']"
              (click)="deactivateSidebar()"
              class="brand">
              <!-- <img src="../assets/network.jpg" alt="Epi-Lab"> -->
              <i class="glyphicon glyphicon-asterisk logo"></i>
              Epi-Lab
            </a>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
        </div>

        <div
          class="row"
          *ngIf="authService.loggedIn()">
          <div class="col-md-12">
            <p>{{ getCurrentUserEmail() }}</p>
            <p>{{ getUserInstitution() }}</p>
          </div>
        </div>

        <div
          class="row"
          *ngIf="authService.loggedIn()">
            <div class="col-md-12">
              <hr>
            </div>
        </div>

      </div>

      <div class="text-left">

        <div class="row menuitem">
          <div class="col-md-3 col-xs-2">
            <span
              class="glyphicon glyphicon-log-in"
              aria-hidden="true"
              *ngIf="!authService.loggedIn()">
            </span>
          </div>
          <div class="col-md-9 col-xs-10">
              <a
                routerLink="/users/login"
                (click)="deactivateSidebar()"
                *ngIf="!authService.loggedIn()">
                Login/Register
              </a>
            </div>
          </div>

          <div class="row menuitem">
            <div class="col-md-3 col-xs-2">
              <span
                class="glyphicon glyphicon-upload"
                aria-hidden="true"
                *ngIf="authService.loggedIn()">
              </span>
            </div>
            <div class="col-md-9 col-xs-10">
              <a
                routerLink="/upload"
                (click)="deactivateSidebar()"
                *ngIf="authService.loggedIn()">
                Upload
              </a>
            </div>
          </div>

          <div class="row menuitem">
            <div class="col-md-3 col-xs-2">
              <span
                class="glyphicon glyphicon-user"
                aria-hidden="true"
                *ngIf="authService.loggedIn()">
              </span>
            </div>
            <div class="col-md-9 col-xs-10">
              <a
                routerLink="/myaccount"
                (click)="deactivateSidebar()"
                *ngIf="authService.loggedIn()">
                My Account
              </a>
            </div>
          </div>

          <div class="row menuitem">
            <div class="col-md-3 col-xs-2">
              <span
                class="glyphicon glyphicon-log-out"
                aria-hidden="true"
                *ngIf="authService.loggedIn()">
              </span>
            </div>
            <div class="col-md-9 col-xs-10">
              <a
                routerLink="/users/login"
                (click)="onLogout()"
                *ngIf="authService.loggedIn()">
                Logout
              </a>
            </div>
          </div>
        </div>

        <div class="text-center">

          <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <a
                href="https://www.bfr.bund.de"
                (click)="deactivateSidebar()">
                <img
                  src="../assets/bfr_logo.gif"
                  alt="BfR"
                  class="bfrlogo">
              </a>
            </div>
          </div>

      </div>

    </div>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-collapse">
      <div class="container-fluid">

        <div class="navbar-header">
          <button
            type="button"
            id="sidebarCollapse"
            class="btn btn-default navbar-btn"
            (click)="activateSidebar()">
            <i class="glyphicon glyphicon-align-justify"></i>
          </button>
        </div>

        <div class="navbar-header navbar-brand">
          <a
            [routerLink]="authService.loggedIn() ? ['/main'] : ['/']"
            class="brand">
            <!-- <img src="../assets/network.jpg" alt="Epi-Lab"> -->
            <i class="glyphicon glyphicon-asterisk logo"></i>
            Epi-Lab
          </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a
                routerLink="/users/login"
                (click)="deactivateSidebar()"
                *ngIf="!authService.loggedIn()">
                Login/Register
              </a>
            </li>

            <li><a
              routerLink="/upload"
              *ngIf="authService.loggedIn()">Upload</a>
            </li>

            <li><a
              routerLink="/myaccount"
              *ngIf="authService.loggedIn()">My Account</a>
            </li>

            <li><a
                  routerLink="/users/login"
                  (click)="onLogout()"
                  *ngIf="authService.loggedIn()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <app-alert><</app-alert>
    <router-outlet></router-outlet>

    <footer class="container-fluid">
      <div class="text-center">
        <hr>
        <p>
          <a href="https://www.bfr.bund.de" target="_top">
            BfR - Bundesinstitut für Risikobewertung</a>
        </p>
        <p>
          <a href="https://foodrisklabs.bfr.bund.de" target="_top">FoodRisk - Labs</a>
        </p>

      </div>
    </footer>
  </div>
</div>

<div
  class="overlay"
  [ngStyle]="{display: getDisplayMode()}">
</div>



