<div class="wrapper">


  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-fixed-top navbar-blue">
      <div class="container-fluid">


        <div class="navbar-header navbar-brand">
          <a
            [routerLink]="authService.loggedIn() ? ['/main'] : ['/']"
            class="brand navbar-brand-color">
            {{ appName }}
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li
              class="dropdown navbar-text-color"
              appDropdown>
              <a
                style="cursor: pointer;"
                class="dropdown-toggle navbar-user navbar-text-color "
                role="button">
                Probendaten
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-link"
                    routerLink="/upload">
                    Upload
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-link"
                    (click)="validateService.onSave()"
                    *ngIf="uploadService.isValidationActive()">
                    Download
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-link"
                    (click)="validateService.onSend()"
                    *ngIf="authService.loggedIn() && uploadService.isValidationActive()">
                    Senden
                  </a>
                </li>
              </ul>
            </li>

            <li class="navbar-text-color">
              <a
                class="navbar-text-color"
                (click)="validateService.onValidate()"
                *ngIf="uploadService.isValidationActive()">
                Validieren
              </a>
            </li>

            <li class="navbar-text-color">
                <a
                  class="navbar-text-color"
                  routerLink="/users/login"
                  (click)="deactivateSidebar()"
                  *ngIf="!authService.loggedIn()">
                  Anmelden/Registrieren
                </a>
              </li>



            <li
              class="dropdown navbar-text-color"
              appDropdown
              *ngIf="authService.loggedIn()">
              <a
                style="cursor: pointer;"
                class="dropdown-toggle navbar-text-color navbar-user"
                role="button">
                <span class="glyphicon glyphicon-user"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-info">
                  <a>{{ getCurrentUserEmail() }}</a>
                </li>
                <li class="dropdown-info">
                  <a>{{ getUserInstitution() }}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a
                    class="dropdown-link"
                    routerLink="/users/login"
                    (click)="onLogout()">
                    Abmelden
                  </a>
                </li>
              </ul>
            </li>


          </ul>
        </div>

      </div>
    </nav>

    <div class="main">

      <app-alert></app-alert>

      <router-outlet></router-outlet>

    </div>

    <hr>
    <footer class="container-fluid main-footer">
      <nav>
        <!-- <hr> -->
        <ul class="main-footer__links">
          <li class="main-footer__link">
            <a href="https://www.bfr.bund.de" target="_blank">
              BfR - Bundesinstitut für Risikobewertung</a>
          </li>
          <li class="main-footer__link">
            <a href="https://foodrisklabs.bfr.bund.de" target="_blank">FoodRisk - Labs</a>
          </li>
          <li class="main-footer__link">
            <a
              href="mailto:{{ supportContact }}"
              target="_top">
              Problem melden
            </a>
          </li>
        </ul>

      </nav>
    </footer>
  </div>
</div>

<div class="overlay" [ngStyle]="{display: getDisplayMode()}">
</div>

<jaspero-confirmations></jaspero-confirmations>
