@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin-bottom: 60px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
  background: #fff;
  color: #337ab7;
  transition: all 0.3s;
  transform: scale(1.15);
}

#sidebar a:hover {
  padding: 20px;
}


.navbar {
    padding: 15px 10px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px rgb(218, 218, 218);

}

.navbar-header:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-header.navbar-brand {
  margin-left: 10px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

a > i {
  margin-left: 30px;
  margin-right: 10px;
  color: darkred;
}

.brand {
  font-size: 1.5em;
  color: darkred;
}

.bfrlogo {
  height: 80%;
  width: 80%;
}

.bfrlogo:hover {
  transition: all 0.3s;
  transform: scale(1.25);
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #337ab7;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebarCollapse:hover {
  color: #337ab7;
  transition: all 0.3s;
  transform: scale(1.3);
}

#sidebar.active {
    left: 0;
}

.menuitem {
  padding: 1em;
}

#menuclose {
  margin: 1em 0em 2em 12em;
}

#menuclose:hover {
  background: #fff;
  color: #337ab7;
  transition: all 0.3s;
  transform: scale(1.3);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

/* ---------------------------------------------------
    STICKY FOOTER
----------------------------------------------------- */

footer {
  margin-top: 50px;
}

footer p {
  color: rgb(80, 80, 80);
}


