<div class="wrapper">
  <!-- Sidebar Holder -->

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-collapse">
      <div class="container-fluid">

        <div class="navbar-header navbar-brand">
          <a
            [routerLink]="authService.loggedIn() ? ['/main'] : ['/']"
            class="brand">
            <!-- <img src="../assets/network.jpg" alt="Epi-Lab"> -->
            <i class="glyphicon glyphicon-asterisk logo"></i>
            Epi-Lab
          </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a
                routerLink="/users/login"
                (click)="deactivateSidebar()"
                *ngIf="!authService.loggedIn()">
                Login/Register
              </a>
            </li>

            <li><a
              routerLink="/upload"
              *ngIf="authService.loggedIn()">Upload</a>
            </li>

            <li><a
                  routerLink="/users/login"
                  (click)="onLogout()"
                  *ngIf="authService.loggedIn()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <app-alert><</app-alert>
    <router-outlet></router-outlet>

    <footer class="container-fluid">
      <div class="text-center">
        <hr>
        <p>
          <a href="https://www.bfr.bund.de" target="_top">
            BfR - Bundesinstitut für Risikobewertung</a>
        </p>
        <p>
          <a href="https://foodrisklabs.bfr.bund.de" target="_top">FoodRisk - Labs</a>
        </p>

      </div>
    </footer>
  </div>
</div>

<div
  class="overlay"
  [ngStyle]="{display: getDisplayMode()}">
</div>



