<div class="mibi-mat-dialog">

    <mibi-layout-box>

        <div class="mibi-dialog">
            <h1 mat-dialog-title>{{data.title}}</h1>
            <div mat-dialog-content class="mibi-mat-dialog-content">
                <ng-container>{{data.message}}</ng-container>
            </div>
            <div mat-dialog-actions class="mibi-mat-dialog-actions">
                <button *ngIf="!!data.auxilliaryAction" mat-button color="primary"
                    (click)="onAuxAction()">{{data.auxilliaryAction.label}}</button>
                <button cdkFocusInitial mat-raised-button color="primary"
                    (click)="onMainAction()">{{data.mainAction.label}}</button>
            </div>
        </div>

    </mibi-layout-box>

</div>