<div class="mibi-mat-dialog">

    <mibi-box-layout>

        <div class="mibi-dialog">
            <h1 mat-dialog-title>{{data.title}}</h1>
            <div mat-dialog-content class="mibi-mat-dialog-content">
                <ng-container>{{data.message}}</ng-container>
            </div>
            <div mat-dialog-actions class="mibi-mat-dialog-actions">
                <button *ngIf="!!data.auxilliaryAction" type="button" mat-stroked-button color="accent"
                    (click)="onAuxAction()">{{data.auxilliaryAction.label}}</button>
                <button cdkFocusInitial type="button" mat-flat-button color="accent"
                    (click)="onMainAction()">{{data.mainAction.label}}</button>
            </div>
        </div>

    </mibi-box-layout>

</div>