<div class="mibi-mat-dialog">

<mibi-layout-box>

    <div class="mibi-dialog">
        <h1 mat-dialog-title>{{config.title}}</h1>
        <div mat-dialog-content class="mibi-mat-dialog-content">
            <ng-content></ng-content>
        </div>
        <div mat-dialog-actions class="mibi-mat-dialog-actions">
            <button mat-button *ngIf="config.cancelButtonConfig" color="primary"
                (click)="onCancel()">{{config.cancelButtonConfig.label}}</button>
            <button mat-raised-button cdkFocusInitial color="primary"
                (click)="onConfirm()">{{config.confirmButtonConfig.label}}</button>
            <ng-content select=".mibi-dialog-button"></ng-content>
        </div>
    </div>

</mibi-layout-box>

</div>