@import "../../../../assets/sass/abstracts";

.mibi-mat-dialog {
  margin: -24px;
  max-height: 100vh;
}

.mibi-dialog {
  height: 100%;
  padding: 24px;
  overflow: auto;
}

.mibi-mat-dialog-content {
  margin: 0;
  padding: 0;
}

.mibi-mat-dialog-actions {
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 0;
  padding-bottom: 0;
}
