<mibi-data-grid-view 
    [model]="dataGridModel$ | async"
    [cellTemplates]="cellTemplates"
    [editorTemplate]="editorTemplate"
    (dataEvent)="onDataEvent($event)"
></mibi-data-grid-view>
{{foo}}

<mibi-samples-grid-templates #templates
    [colMap]="colMap"
></mibi-samples-grid-templates>

<ng-template #editorTemplate let-data="data" let-dataChange="dataChange" let-confirm="confirm" let-cancel="cancel">
    <mibi-samples-grid-text-editor-view
        [data]="data"
        (dataChange)="dataChange($event)"
        (confirm)="confirm()"
        (cancel)="cancel()"
    ></mibi-samples-grid-text-editor-view>
</ng-template>