<mibi-data-grid-view 
    [model]="dataGridModel$ | async"
    [cellTemplates]="cellTemplates"
    [editorTemplates]="editorTemplates"
    (dataEvent)="onDataEvent($event)"
></mibi-data-grid-view>
{{foo}}

<mibi-samples-grid-text-cell-template #textCellTemplate></mibi-samples-grid-text-cell-template>
<mibi-samples-grid-data-cell-template #dataCellTemplate></mibi-samples-grid-data-cell-template>
<mibi-samples-grid-data-editor-template #dataEditorTemplate></mibi-samples-grid-data-editor-template>
