

<ngfFormData
  [files]      = "files"
  postName     = "myPostName"
  [(FormData)] = "sendableFormData"
></ngfFormData>

<ngfUploadStatus
  [(percent)] = "progress"
  [httpEvent] = "httpEvent"
></ngfUploadStatus>


<div class="container-fluid">

  <div class="row top-bottom-margin">
    <div class="col-md-10 col-md-offset-1">
      <h2>Probeneinsendebogen validieren</h2>
      <hr>
    </div>
  </div>
  <div class="row top-bottom-margin">
      <app-spinner-container name="uploadSpinner">
          <app-generic-spinner></app-generic-spinner>
        </app-spinner-container>
    <div class="col-md-10 col-md-offset-1">
      <div *ngIf="!isUploadSpinnerShowing()" class="uploader"
        ngfDrop
        [selectable]       = "1"
        [maxSize]          = "maxFileSize"
        accept             = ".xlsx"
        [ngClass]          = "{'another-file-over-class': validComboDrag}"
        [(files)]          = "files"
        [(file)]           = "file"
        [fileDropDisabled] = "dropDisabled"
        (fileChange)       = "invokeValidation($event)"
        [(lastInvalids)] = "lastInvalids" >
        <label for="file-upload" id="file-drag">
          <img id="file-image" src="#" alt="Preview" class="hidden">
          <div id="start">
            <i class="glyphicon glyphicon-download-alt download-icon" aria-hidden="true"></i>
            <div class="select-text">Per Drag&Drop in dieses Feld ziehen</div>
            <div class="select-text">oder</div>
            <span class="btn btn-primary select-button">Datei wählen</span>
          </div>
          <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
              <span>0</span>%
            </progress>
          </div>
        </label>
      </div>
    </div>
  </div>

</div>
