@import "../../../../assets/sass/abstracts";

.mibi-datenschutzerklaerung {
  text-align: justify;
}

.mibi-datenschutzerklaerung-item-header {
  font-weight: bold;
  margin-top: 3%;
  text-align: center;
}

.mibi-datenschutzerklaerung-item-subheader {
  font-weight: bold;
  text-align: center;
}

.mibi-datenschutzerklaerung-item {
  padding: 0 25% * 0.5;
}

.mibi-datenschutzerklaerung-footer {
  border-top: 1px solid $primary-color;
}

.mibi-datenschutzerklaerung-list {
  list-style-type: lower-alpha;
}
