@import '../../../../assets/sass/abstracts';

  .dateschutzerklaerung-item-header {
   font-weight: bold;
   margin-top: 5%;
  }

  .dateschutzerklaerung-item-subheader {
    font-weight: bold;
   }

.dateschutzerklaerung {
    margin-top: 32px;
}

.dateschutzerklaerung-item {
    width: 75%;
}

.dateschutzerklaerung-footer {
    border-top: 1px solid $primary-color;
}
