@import '../../../../assets/sass/abstracts';

  .dateschutzerklaerung-item-header {
   font-weight: bold;
  }


.dateschutzerklaerung {
    margin-top: 32px;
}

.dateschutzerklaerung-item__list {
    font-size: 21px;
}

.dateschutzerklaerung-footer {
    border-top: 1px solid $primary-color;
}

.dateschutzerklaerung-footer__head {
    font-size: 21px;
}

.dateschutzerklaerung-footer__date {
    font-weight: bold;
}
