<article class="dateschutzerklaerung-container">

    <h3 class="dateschutzerklaerung-item-header">
        1. Wer ist für die Datenverarbeitung verantwortlich, und an wen kann ich mich wenden?
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Das Bundesinstitut für Risikobewertung ist für die Verarbeitung Ihrer Daten im Sinne des Art. 4 Nr. 7
            DS-GVO verantwortlich. Nachfolgend finden Sie unsere Kontaktdaten:
            <table class="mibi-text">
                <tbody>
                    <tr>
                        Bundesinstitut für Risikobewertung (BfR)
                    </tr>
                    <tr>Max-Dohrn-Str. 8-10</tr>
                    <tr>10589 Berlin</tr>
                    <tr>Tel.: 030-18412-0</tr>
                    <tr>Fax: 030-18412-4741</tr>
                    <tr>E-Mail: <a href="mailto:poststelle@bfr.bund.de">poststelle@bfr.bund.de</a></tr>
                    <tr><a href="https://www.bfr.bund.de">www.bfr.bund.de</a></tr>
                </tbody>
            </table>
            <br>
            <p>
                Bei Fragen zur Verarbeitung Ihrer Daten und zum Datenschutz wenden Sie sich bitte an unsere
                behördliche Datenschutzbeauftragte:
                <table class="mibi-text">
                    <tbody>
                        <tr>
                            Christin Weigel
                        </tr>
                        <tr>
                            Bundesinstitut für Risikobewertung
                        </tr>
                        <tr>Max-Dohrn-Str. 8-10</tr>
                        <tr>10589 Berlin</tr>
                        <tr>E-Mail: <a href="mailto:dsb@bfr.bund.de">dsb@bfr.bund.de</a></tr>
                    </tbody>
                </table>
    </div>

    <h3 class="dateschutzerklaerung-item-header">
        2. Auf welcher Rechtsgrundlage verarbeiten wir Ihre personenbezogenen Daten?
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>Die Verarbeitung personenbezogener Daten im BfR erfolgt in Übereinstimmung
            mit der <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32016R0679&qid=1527147390147&from=EN">Europäischen Datenschutz-Grundverordnung (DS-GVO)</a>, dem Telemediengesetz (TMG) und dem
            <a href="https://www.gesetze-im-internet.de/bdsg_2018/">Bundesdatenschutzgesetz (BDSG)</a>
        </p>
        <p>
            Soweit das BfR für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person
            einholt, dient Art. 6 Abs. 1 lit. a DS-GVO als Rechtsgrundlage. Eine erteilte Einwilligung kann jederzeit
            mit
            Wirkung für die Zukunft widerrufen werden. Dies gilt auch für den Widerruf von Einwilligungserklärungen,
            die
            vor der Geltung der DS-GVO, also vor dem 25. Mai 2018, uns gegenüber erteilt worden sind.
        </p>
        <p>
            Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei
            die
            betroffene Person ist, erforderlich ist, dient im Einzelfall Art. 6 Abs. 1 lit. b DS-GVO als
            Rechtsgrundlage.
            Dies gilt auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich
            sind.
        </p>
        <p>
            Soweit eine Verarbeitung personenbezogener Daten im Einzelfall zur Erfüllung einer rechtlichen
            Verpflichtung
            erforderlich sein sollte, dient zudem Art. 6 Abs. 1 lit. c DS-GVO in Verbindung mit der entsprechenden
            Rechtsvorschrift, aus der sich die rechtliche Verpflichtung ergibt, als Rechtsgrundlage.
        </p>
        <p>
            In dem seltenen Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen
            Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DS-GVO als
            Rechtsgrundlage.
        </p>
        <p>
            Das BfR verarbeitet bei der Wahrnehmung der ihm obliegenden im öffentlichen Interesse liegenden Aufgaben
            personenbezogene Daten. Zu den öffentlichen Aufgaben des BfR gehören insbesondere die ihm nach dem
            BfR-Gesetz
            (BfRG) übertragenen Aufgaben und Tätigkeiten. Rechtsgrundlage der Verarbeitung ist hier Art. 6 Abs. 1 lit.
            e
            der DS-GVO in Verbindung mit den entsprechenden Vorschriften des BfRG, insbesondere § 2 BfRG.
        </p>
        <p>
            Soweit erforderlich, verarbeiten wir Ihre Daten darüber hinaus zur Wahrung berechtigter Interessen von uns
            oder
            Dritten. Beispiele können sein: Die Geltendmachung rechtlicher Ansprüche und Verteidigung bei rechtlichen
            Streitigkeiten, die Gewährleistung der IT-Sicherheit und des IT-Betriebs des BfR, die Öffentlichkeitsarbeit
            des
            BfR oder auch die Verhinderung von Straftaten (u.a.). In solchen Fällen dient als Rechtsgrundlage Art. 6
            Abs. 1
            lit. f DS-GVO.
        </p>
    </div>


    <h3 class="dateschutzerklaerung-item-header">
        3. Welche personenbezogenen Daten werden im Zusammenhang mit dem Besuch unserer Internetseite verarbeitet?
    </h3>
    <h3 class="dateschutzerklaerung-item-header">
        3.1 Datenerfassung
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Bei jedem Zugriff eines Nutzers auf unser Internet-Angebot und bei jedem Abruf einer Datei werden Daten
            über
            diesen Vorgang vorübergehend in einer Logdatei des Webservers verarbeitet.

            Im Einzelnen werden über jeden Zugriff/Abruf folgende Daten gespeichert:
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>Browsertyp und -version</li>
            <li>verwendetes Betriebssystem</li>
            <li>Website, von der aus Sie uns besuchen (Referrer URL)</li>
            <li>Website, die Sie besuchen</li>
            <li>Datum und Uhrzeit Ihres Zugriffs</li>
            <li>Ihre Internet Protokoll (IP)-Adresse in anonymisierter Form</li>
        </ul>
        <p>
            Rechtsgrundlage für die vorübergehende Speicherung der Daten ist Art. 6 Abs. 1 lit. e bzw. f DS-GVO. Eine
            Zusammenführung mit anderen personenbezogenen Daten des Nutzers findet nicht statt.
        </p>
        <p>
            Bei der Nutzung dieser Informationen zieht das BfR keine Rückschlüsse auf die betroffene Person. Diese
            Informationen werden vielmehr benötigt, um
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>die Inhalte unserer Webseite korrekt auszuliefern,</li>
            <li>die Inhalte unserer Webseite zu optimieren,</li>
            <li>die Funktionsfähigkeit unserer IT-Systeme und der Technik unserer Webseite zu gewährleisten</li>
        </ul>
            <p>
            Die Löschung der Logfiles erfolgt nach 14 Tagen.
        </p>
    </div>


    <h3 class="dateschutzerklaerung-item-header">
        3.2 Cookies
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im Internetbrowser bzw.
            vom
            Internetbrowser auf dem Gerät des Nutzers gespeichert werden. Ruft ein Nutzer eine Webseite auf, so kann
            ein
            Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische
            Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen der Website
            ermöglicht.
        </p>
        <p>
            Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer
            Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden
            kann.
        </p>
        <p>
            <span style="text-decoration: underline;">Desktopseite:</span>
        </p>
        <p>
            Name: sixcms_bfr
        </p>
        <p>
            Funktion:
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>Speichern von Merkliste,</li>
            <li>Prüfung von Captcha Bilden in Formularen</li>
            <li>Newsletteranmeldung / -profilbearbeitung</li>
        </ul>
        <p>
            Geltungsdauer: eine Browsersession
        </p>
        <p>
            <span style="text-decoration: underline;">Mobile-Seite:</span>
        </p>
        <p>
            Name: CMS_SESSION_ID
        </p>
        <p>
            Funktion:
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>Newsletteranmeldung / -profilbearbeitung</li>
        </ul>
        <p>
            Geltungsdauer: eine Browsersession
        </p>
        <p>
            Beide Cookies werden beim Laden der Seite erstellt und beim Schließen des Browsers wieder gelöscht.
        </p>
        <p>
            Auf den Seiten unseres Bestellservices für Publikationen kommen Cookies zum Einsatz, welche für die Zeit
            des
            Besuchs auf der Website gültig sind. Dies ist für die Funktion des Warenkorbs aus technischen Gründen
            notwendig. Dies erfolgt auf Grundlage des Art. 6 Abs. 1 lit. e DSGVO in Verbindung mit § 3 BDSG im Rahmen
            der
            Öffentlichkeitsarbeit zur adressatengerechten Bereitstellung von Informationen. Die eingesetzten Cookies
            werden
            gelöscht, wenn Sie die Sitzung beenden. Wenn Sie das Browserfenster schließen oder eine andere Seite
            aufrufen,
            wird Ihr Warenkorb zurückgesetzt. Die bis dahin gesammelten Warenkorbinhalte müssen neu zusammengestellt
            werden, wenn Sie die Sitzung beenden, den Bestellvorgang aber nicht abgeschlossen haben.
        </p>
        <p>
            Sie können sich mit jedem Internetbrowser anzeigen lassen, wenn Cookies gesetzt werden und was sie
            enthalten.
            Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Das Speichern von
            Cookies
            kann jedoch deaktiviert oder der Browser so eingestellt werden, dass Cookies nur für die Dauer der
            jeweiligen
            Verbindung zum Internet gespeichert werden.
        </p>
        <p>
            Wenn Sie alle Cookies ablehnen, kann es sein, dass die Funktion der Webseite beeinträchtigt ist und dass
            der
            Service nicht in gewünschter Qualität erbracht werden kann.
        </p>
    </div>


    <h3 class="dateschutzerklaerung-item-header">
        3.3 Webanalyse mit dem Analysetool AWStats
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Auf Grundlage des Art. 6 Abs. 1 lit. e DSGVO in Verbindung mit § 3 Bundesdatenschutzgesetz wertet das BfR
            im
            Rahmen der Öffentlichkeitsarbeit mit dem Analysetool AWStats (http://www.awstats.org/) die Besucherzugriffe
            statistisch aus. Die Webserver selbst werden ebenfalls direkt durch das BfR betrieben und anfallende
            Logfiles
            sofort anonymisiert. Die Daten aus den Logfiles des Webservers werden dabei in anonymisierter Form
            ausgewertet,
            das heißt ohne die Identifizierung der Nutzer anhand IP-Adressen oder sonstiger persönlicher Daten. Der
            Zugriff
            auf diese Analyse-Daten ist nur wenigen Mitarbeitenden des BfR möglich.
        </p>
        <p>
            Die Erhebung, Verarbeitung und Nutzung dieser Daten sowie deren Auswertung erfolgt allein zu statistischen
            Zwecken und zur Optimierung der BfR-Webseiten-Inhalte. Wir verwenden diese Statistiken ausschließlich zur
            Messung der Aktivitäten sowie zur Verbesserung bzw. Anpassung unserer Webseiten an die Bedürfnisse der
            Nutzerinnen und Nutzer.
        </p>
        <p>
            Werden Einzelseiten unserer Webseite aufgerufen, so werden folgende Daten gespeichert:
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>die aufgerufene Webseite</li>
            <li>die Website, von der der Nutzer auf die aufgerufene Webseite gelangt ist (Referrer)</li>
            <li>die Unterseiten, die von der aufgerufenen Webseite aus aufgerufen werden</li>
            <li>die Verweildauer auf der Webseite</li>
            <li>die Häufigkeit des Aufrufs der Webseite.</li>
        </ul>
    </div>


    <h3 class="dateschutzerklaerung-item-header">
        3.4 Welche personenbezogenen Daten werden im Rahmen der Kontaktaufnahme verarbeitet?
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Die Verarbeitung personenbezogener Daten geschieht in Abhängigkeit des Kontaktweges. Hierbei kann zwischen
            Kontaktaufnahme per E-Mail oder per Kontaktformular unterschieden werden.
        </p>
    </div>


    <h3 class="dateschutzerklaerung-item-header">
        3.4.1 Kontaktaufnahme per E-Mail
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Die Kontaktaufnahme zum BfR kann per E-Mail über
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>die personengebundenen dienstlichen E-Mail-Adressen der Beschäftigten</li>
            <li>die Funktions-E-Mail-Adressen oder</li>
            <li>die zentrale E-Mail-Adresse (<a href="mailto:poststelle@bfr.bund.de">poststelle@bfr.bund.de</a>)</li>
        </ul>
        <p>erfolgen.</p>
        <p>
            Soweit Sie einen der oben genannten Kontaktwege verwenden, werden die von Ihnen übermittelten Daten (z.B.:
            Name, Vorname, Anschrift o.ä.), zumindest jedoch die E-Mail-Adresse, sowie die in der E-Mail enthaltenen
            Informationen (inklusive ggf. von Ihnen übermittelter personenbezogener Daten) zum Zwecke der
            Kontaktaufnahme
            und Bearbeitung Ihres Anliegens verarbeitet. Wir weisen Sie darauf hin, dass die Verarbeitung der Daten auf
            Grundlage von Artikel 6 Absatz 1 lit. e DSGVO in Verbindung mit § 3 BDSG erfolgt. Eine Verarbeitung der von
            Ihnen übermittelten personenbezogenen Daten ist zum Zweck der Bearbeitung Ihres Anliegens erforderlich.
        </p>
    </div>


    <h3 class="dateschutzerklaerung-item-header">
        3.4.2 Kontaktaufnahme über das Kontaktformular
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Auf unserer Webseite können Sie auch unser Kontaktformular nutzen, um Ihre Anfrage an das BfR zu richten.
        </p>
        <p>
            Die Übermittlung des Inhalts des Kontaktformulars erfolgt über eine verschlüsselte https-Verbindung.
        </p>
        <p>
            Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegebenen Daten an uns
            übermittelt und gespeichert. Diese Daten sind:
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>Vor- und Nachname</li>
            <li>E-Mail-Adresse</li>
        </ul>
        <p>
            Soweit Sie das Kontaktformular zur Kommunikation verwenden, ist die Angabe einer Anrede, Ihres Namens und
            Vornamens sowie Ihrer E-Mail-Adresse erforderlich. Ohne diese Daten kann Ihr per Kontaktformular
            übermitteltes
            Anliegen nicht bearbeitet werden. Für die Bestellung von Informationsmaterial und dessen postalische
            Zusendung
            ist die Angabe der Adresse notwendig (siehe Punkt 3.6.2). Wir verarbeiten die vorab skizzierten
            personenbezogenen Daten im Einklang mit den Bestimmungen der DS-GVO und dem BDSG aufgrund Ihrer
            Einwilligung
            (Art. 6 Abs. 1 lit. a DSGVO).
        </p>
        <p>
            Ihre Daten werden ausschließlich BfR-intern von den jeweils zuständigen Mitarbeitenden verarbeitet. Eine
            Übermittlung an Dritte findet nicht statt. Die Verarbeitung findet ausschließlich in Deutschland statt.
            Durch
            technische und organisatorische Maßnahmen stellen wir sicher, dass Ihre Daten gegen zufällige oder
            vorsätzliche
            Manipulation und unberechtigte Zugriffe geschützt sind. Ihre übermittelten Daten werden zur Bearbeitung
            Ihrer
            Anfrage und für eventuelle Nachfragen bis auf Widerruf gespeichert. In der Regel werden sie nach 12 Monaten
            gelöscht. Andere Fristen können im Rahmen gesetzlicher Aufbewahrungsfristen gelten. Falls Sie Ihre Daten
            ändern
            oder löschen möchten, können Sie dies jederzeit uns gegenüber auf dem für Sie einfachsten Weg veranlassen.
        </p>
    </div>



    <h3 class="dateschutzerklaerung-item-header">
        3.5 Welche personenbezogenen Daten werden im Rahmen der Nutzung sozialer Netzwerke verarbeitet?
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Das BfR ist in den sozialen Netzwerken Twitter, YouTube und Instagram aktiv. Auf der BfR-Webseite handelt
            es
            sich ausschließlich um Links auf die jeweilige Außendarstellung unserer Einrichtung auf der entsprechenden
            Plattform. Es werden hierzu durch das BfR keine datenschutzrelevanten Daten gespeichert.
        </p>
    </div>

    <h3 class="dateschutzerklaerung-item-header">
        3.6 Welche personenbezogenen Daten werden im Rahmen der Informationsbereitstellung verarbeitet?
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Die Verarbeitung personenbezogener Daten ist abhängig von der Art der Informationsbereitstellung,
            beispielsweise ob Sie einen Newsletter abonnieren oder Publikationen von uns bestellen.
        </p>
    </div>

    <h3 class="dateschutzerklaerung-item-header">
        3.6.1 Daten für den Newsletter-Versand
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Wenn Sie sich auf einem der Newsletter-Verteiler des BfR eintragen, werden in der Regel Ihre
            E-Mail-Adresse,
            Datum und Uhrzeit der Registrierung sowie der von Ihnen gewählte Newsletter-Typ von uns auf einem Server
            gespeichert. Die Verarbeitung der Daten erfolgt auf Grundlage Ihrer Einwilligung nach Artikel 6 Absatz 1
            lit. a
            DSGVO. Wir setzen diese Daten ausschließlich für den Versand des jeweiligen Newsletters ein. Eine
            Weitergabe
            der Daten an Dritte durch uns erfolgt nicht.
        </p>
        <p>
            Durch das Anmeldesystem mit einer zusätzlichen Bestätigungsnachricht, die einen Link zur endgültigen
            Registrierung enthält (Double-Opt-In) ist sichergestellt, dass der Newsletter von Ihnen explizit erwünscht
            ist.
        </p>
        <p>
            Bei der Registrierung werden Ihre Daten auf unserem Server gespeichert und eine Bestätigungsnachricht mit
            einem
            Link zur endgültigen Registrierung an die angegebene E-Mail Adresse generiert.
        </p>
        <p>
            Erst durch Bestätigung des Links in der E-Mail werden Ihre Daten zum Newsletter-Versand für die Dauer der
            Nutzung unseres Newsletter-Angebots gespeichert.
        </p>
        <p>
            Soweit Sie mit der Speicherung der Daten zu diesem Zweck nicht mehr einverstanden sind und somit unser
            Angebot
            nicht mehr nutzen möchten, können sich jederzeit von unseren Newslettern abmelden. Die von Ihnen
            angegebenen
            Daten werden dann gelöscht. Nutzen Sie bitte diesen Link, um sich abzumelden. Hierfür benötigen Sie die
            E-Mail-Adresse, die Sie bei der Anmeldung angegeben haben.
        </p>
    </div>

    <h3 class="dateschutzerklaerung-item-header">
        3.6.2 Bestellung von BfR-Publikationen
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Wenn Sie über unsere Webseite Broschüren, Faltblätter und andere Druckerzeugnisse bestellen, ist es
            erforderlich, Ihre personenbezogenen Daten zur Durchführung von vorvertraglichen Maßnahmen und zur
            Vertragserfüllung (Bereitstellung der jeweiligen Publikation) nach Artikel 6 Absatz 1 lit. b DSGVO zu
            verarbeiten.
        </p>
        <p>
            Zur Bearbeitung des Auftrages sind folgende personenbezogenen Daten anzugeben:
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>Name</li>
            <li>Straße, Hausnummer</li>
            <li>Postleitzahl und Ort</li>
            <li>E-Mail</li>
        </ul>
        <p>
            Diese Daten werden im Rahmen der Bestellung verarbeitet. Die von Ihnen angegebenen Daten werden durch das
            BfR
            verarbeitet oder an einen Dienstleister, welcher mit dem Versand beauftragt wurde, weitergegeben. Der
            Dienstleister, der als Auftragsverarbeiter für uns tätig wird, ist vertraglich sowie gesetzlich gemäß Art.
            28
            DS-GVO verpflichtet, dass geeignete technische und organisatorische Maßnahmen so durchgeführt werden, dass
            die
            Verarbeitung im Einklang mit den Anforderungen der DS-GVO erfolgt und der Schutz Ihrer Rechte gewährleistet
            ist.
        </p>
        <p>
            Soweit die vorgenannten Daten nicht vorliegen, kann die Bearbeitung der Bestellung nicht erfolgen.
        </p>
        <p>
            Die von Ihnen übermittelten Daten werden nach der Auftragserledigung bzw. nach Ablauf gesetzlicher
            Aufbewahrungsfristen gelöscht.
        </p>
    </div>

    <h3 class="dateschutzerklaerung-item-header">
        4. Werden Daten in ein Drittland oder an eine internationale Organisation übermittelt?
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Eine Datenübermittlung in Länder außerhalb der EU bzw. des EWR (sog. Drittstaaten) findet nur statt, soweit
            dies vertraglich erforderlich oder gesetzlich vorgeschrieben ist bzw. im Rahmen einer
            Auftragsdatenverarbeitung. Werden Auftragsdatenverarbeiter in einem Drittstaat eingesetzt, werden diese
            vertraglich zur Einhaltung der datenschutzrechtlichen Vorgaben der EU verpflichtet.
        </p>
    </div>



    <h3 class="dateschutzerklaerung-item-header">
        5. Welche Datenschutzrechte habe ich?
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Sie haben gegenüber dem BfR folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:
        </p>
        <ul class="dateschutzerklaerung-item__list">
            <li>das Recht auf Auskunft nach Art. 15 DS-GVO,</li>
            <li>das Recht auf Berichtigung nach Art. 16 DS-GVO,</li>
            <li>das Recht auf Löschung nach Art. 17 DS-GVO,</li>
            <li>das Recht auf Einschränkung der Verarbeitung nach Art. 18 DS-GVO,</li>
            <li>das Recht auf Widerspruch aus Art. 21 DS-GVO</li>
            <li>sowie das Recht auf Datenübertragbarkeit aus Art. 20 DS-GVO.</li>
            <li>Beim Auskunftsrecht und beim Löschungsrecht gelten die Einschränkungen nach §§ 34 und 35 BDSG.</li>
        </ul>
        <p>
            Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten können Sie jederzeit uns gegenüber
            mit
            Wirkung für die Zukunft widerrufen. Dies gilt auch für den Widerruf von Einwilligungserklärungen, die vor
            der
            Geltung der Datenschutz-Grundverordnung, also vor dem 25. Mai 2018, uns gegenüber erteilt worden sind.
        </p>
        <p>
            Die vorgenannten Rechte können Sie unter poststelle@bfr.bund.de oder postalisch über die zu Beginn dieser
            Datenschutzerklärung genannte Postadresse des BfR geltend machen.
        </p>
        <p>
            Ihnen steht zudem ein Beschwerderecht bei der datenschutzrechtlichen Aufsichtsbehörde, (Bundesbeauftragte
            für
            den Datenschutz und die Informationsfreiheit) zu, vgl. Art. 77 DS-GVO i.V.m. § 19 BDSG.
        </p>
        <p>
            Sie können sich mit Fragen und Beschwerden auch an die/den Beauftragte/n für den Datenschutz im BfR
            (<a href="mailto:dsb@bfr.bund.de">dsb@bfr.bund.de</a>) wenden.
        </p>
    </div>


    <h3 class="dateschutzerklaerung-item-header">
        6. Änderung der Datenschutzerklärung
    </h3>
    <div class="dateschutzerklaerung-item">
        <p>
            Das BfR behält sich vor, die Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen
            Anforderungen entspricht. Wir empfehlen Ihnen, unsere Datenschutzerklärung regelmäßig zu lesen, um über den
            Schutz der von uns erfassten personenbezogenen Daten auf dem neusten Stand zu bleiben.
        </p>
    </div>

    <footer class="dateschutzerklaerung-footer">
        <span class="dateschutzerklaerung-footer__date">Erstellungsdatum: <time>22.05.2018</time></span>
    </footer>