<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption add">
          <h4>Add new user data set for {{ currentUser.email }}</h4>
          <button
            type="button"
            class="btn btn-default btn-lg"
            (click)="addUserData()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>


  <div
  *ngFor="let userdata of currentUser.userdata; let i = index">
    <div
      class="row"
      >
      <div class="col-md-6 col-md-offset-3">
        <div class="thumbnail">
          <div class="caption">
            <p class="standard">Standard</p>
            <hr>
            <p>{{ currentUser.institution.name1 }}</p>
            <p *ngIf="currentUser.institution.name2">{{ currentUser.institution.name2 }}</p>
            <p>{{ userdata.department }}</p>
            <p>{{ currentUser.institution.address1.street }}</p>
            <p>{{ currentUser.institution.address1.city }}</p>
            <p>{{ userdata.contact }}</p>
            <p>{{ userdata.phone }}</p>
            <p>{{ userdata.email }}</p>
            <hr>
            <a [routerLink]="['/userdata', i]">Edit</a> | <a (click)="deleteUserData(userdata)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

