<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption add">
          <h4>Add new user data set</h4>
          <button
            type="button"
            class="btn btn-default btn-lg"
            (click)="addUserData()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption">
          <p class="standard">Standard</p>
          <hr>
          <p>Landesuntersuchungsamt Rheinland-Pfalz<br>
             Institut für Lebensmittel tierischen Ursprungs</p>
          <p>Abt. Mikrobiologie</p>
          <p>Blücherstr. 34</p>
          <p>56073 Koblenz</p>
          <p>Dr. Hassel</p>
          <p>0261 1234567</p>
          <p>melanie.hassel@lua.rlp.de</p>
          <hr>
          <a href="">Edit</a> | <a href="">Delete</a>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption">
          <!-- <p class="standard">Standard</p> -->
          <!-- <hr> -->
          <p>Landesuntersuchungsamt Rheinland-Pfalz</p>
          <p>Abt. Mikrobiologie</p>
          <p>Blücherstr. 34</p>
          <p>56073 Koblenz</p>
          <p>Dr. Hassel</p>
          <p>0261 1234567</p>
          <p>melanie.hassel@lua.rlp.de</p>
          <hr>
          <a href="">Edit</a> | <a href="">Delete</a> | <a href="">Define as Standard</a>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption">
          <!-- <p class="standard">Standard</p> -->
          <!-- <hr> -->
          <p>Landesuntersuchungsamt Rheinland-Pfalz<br>
             Institut für Lebensmittel tierischen Ursprungs</p>
          <p>Abt. Mikrobiologie</p>
          <p>Blücherstr. 34</p>
          <p>56073 Koblenz</p>
          <p>Dr. Hassel</p>
          <p>0261 1234567</p>
          <p>melanie.hassel@lua.rlp.de</p>
          <hr>
          <a href="">Edit</a> | <a href="">Delete</a> | <a href="">Define as Standard</a>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption">
          <!-- <p class="standard">Standard</p> -->
          <!-- <hr> -->
          <p>Landesuntersuchungsamt Rheinland-Pfalz<br>
             Institut für Lebensmittel tierischen Ursprungs</p>
          <p>Abt. Mikrobiologie</p>
          <p>Blücherstr. 34</p>
          <p>56073 Koblenz</p>
          <p>Dr. Hassel</p>
          <p>0261 1234567</p>
          <p>melanie.hassel@lua.rlp.de</p>
          <hr>
          <a href="">Edit</a> | <a href="">Delete</a> | <a href="">Define as Standard</a>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <div class="caption">
          <!-- <p class="standard">Standard</p> -->
          <!-- <hr> -->
          <p>Landesuntersuchungsamt Rheinland-Pfalz<br>
             Institut für Lebensmittel tierischen Ursprungs</p>
          <p>Abt. Mikrobiologie</p>
          <p>Blücherstr. 34</p>
          <p>56073 Koblenz</p>
          <p>Dr. Hassel</p>
          <p>0261 1234567</p>
          <p>melanie.hassel@lua.rlp.de</p>
          <hr>
          <a href="">Edit</a> | <a href="">Delete</a> | <a href="">Define as Standard</a>
        </div>
      </div>
    </div>
  </div>
</div>
