<mibi-single-center-card-layout cardTitle="Persönliche Daten">
    <div mibi-card-content>
        <dl class="mibi-profile-details">
            <dt>Vorname:</dt>
            <dd>{{ currentUser.firstName }}</dd>
            <dt>Nachname:</dt>
            <dd>{{ currentUser.lastName }}</dd>
            <dt>E-Mail:</dt>
            <dd>{{ currentUser.email }}</dd>
            <ng-container *ngIf="institution">
                <dt>Institut:</dt>
                <dd>{{ institution }}</dd>
            </ng-container>
            <dt>{{ consentStrings.label }}</dt>
            <dd>{{ currentUser.dataSaveAgreed ? consentStrings.agreed : consentStrings.disagreed }}</dd>
        </dl>
        <div class="mibi-logout-wrapper">
            <button
                type="button"
                mat-flat-button
                color="accent"
                (click)="onLogout()"
            >
                Abmelden
            </button>
        </div>
    </div>
</mibi-single-center-card-layout>
