@import "abstracts";

$mibi-ui-color: map-get($mibi-primary, A400);
$mibi-border-color: $surface-color;
$mibi-grid-border: 0.5px solid $surface-color;
$mibi-hover-opacity: 0.075;
$mibi-selection-opacity: 0.2;

.mibi-shadow {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

// elements with z-index -1 are buggy when scrolling in chrome
.mibi-shadow-chrome {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mibi-shadow--bottom {
  bottom: 0;
  left: 0;
  height: 1px;
  box-shadow: 0 0.5px 2px 0 black;
}

.mibi-shadow-chrome--bottom {
  bottom: -2.5px;
  left: 0;
  height: 2.5px;
  background-image: linear-gradient(to bottom, rgba(black, 0.4), rgba(white, 0));
}

.mibi-shadow--right {
  top: 0;
  right: 0;
  width: 1px;
  box-shadow: 0.5px 0 2px 0 black;
}

.mibi-shadow-chrome--right {
  top: 0;
  right: -2.5px;
  width: 2.5px;
  background-image: linear-gradient(to right, rgba(black, 0.4), rgba(white, 0));
}

.mibi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.mibi-hover-hint {
  background-color: rgba(black, $mibi-hover-opacity);
}

.mibi-selection-hint {
  background-color: rgba(black, $mibi-selection-opacity);
}

.mibi-selection-hover-hint {
  background-color: rgba(black, $mibi-hover-opacity + $mibi-selection-opacity);
}

.mibi-selection--hover {
  background-color: rgba($mibi-ui-color, $mibi-hover-opacity);
}

.mibi-selection--selected {
  background-color: rgba($mibi-ui-color, $mibi-selection-opacity);
}

.mibi-selection--selected-hover {
  background-color: rgba($mibi-ui-color, $mibi-selection-opacity + $mibi-hover-opacity);
}

.mibi-selection-anchor {
  outline: $mibi-ui-color solid 2px;
  outline-offset: -2px;
}

.mibi-cursor {
  outline: $mibi-ui-color solid 3px;
  outline-offset: -3px;
}
