<mibi-box-layout x-overflow-handling y-overflow-handling>
    <div class="mibi-panel"
        (mousedown)="onScrollContainerMouseDown($event)"
    >
        <div class="mibi-panel__overflow"
            (mousedown)="onContainerMouseDown($event)"
        ></div>
        <div class="mibi-panel__content mibi-grid-container"
            (mousedown)="onContainerMouseDown($event)"
        >
            <div class="mibi-grid"
                [ngStyle]="{
                    'grid-template-rows': 'repeat(' + rowCount + ',min-content)',
                    'grid-template-columns': 'repeat(' + colCount + ',auto)'
                }"
                (mousedown)="onGridMouseDown($event)"
            >
                <ng-container *ngFor="let rowId of rows; let row=index">
                    <mibi-data-grid-cell-view *ngFor="let colId of cols; let col=index"
                        [ngClass]="{
                            'mibi-grid__cell': !isHeader(row, col),
                            'mibi-grid__sticky': isHeader(row, col),
                            'mibi-grid__sticky--top': isColHeader(row, col),
                            'mibi-grid__sticky--left': isRowHeader(row, col)
                        }"
                        [ngStyle]="{
                            'z-index':getElevation(row, col)
                        }"
                        [controller]="cellController"
                        [dirtyEmitter]="getDirtyEmitter(rowId, colId)"
                        [cellTemplate]="cellTemplates[row][col]"
                        [editorTemplate]="editorTemplate"
                        [row]="row"
                        [col]="col"
                        (mouseEvent)="onCellMouseEvent($event, row, col)"
                        (editorDataChange)="onEditorDataChange($event)"
                        (editorConfirm)="onEditorConfirm()"
                        (editorCancel)="onEditorCancel()"
                    ></mibi-data-grid-cell-view>
                </ng-container>
            </div>
        </div>
    </div>
    {{foo}}
</mibi-box-layout>
