@import "abstracts";

$mibi-ui-color: map-get($mibi-primary, A400);
$mibi-border-color: $surface-color;
$mibi-grid-border: 0.5px solid $surface-color;
$mibi-hover-opacity: 0.075;
$mibi-selection-opacity: 0.2;

.mibi-panel {
  position: relative;
  height: 100%;
  overflow: auto;
}

.mibi-panel__overflow {
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
}

.mibi-panel__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.mibi-grid-container {
  display: grid;
  grid-template: min-content / auto;
}

.mibi-grid {
  @include mat-elevation(2);

  display: grid;
  // mask precision gaps between grid lines visible in firefox
  background-color: $mibi-border-color;
  user-select: none;
}

.mibi-grid-cell {
  position: relative;
}

.mibi-grid__sticky {
  position: sticky;
}

.mibi-grid__sticky--top {
  top: 0;
}

.mibi-grid__sticky--left {
  left: 0;
}

.mibi-grid-cell--grid-top {
  border-top: $mibi-grid-border;
}

.mibi-grid-cell--grid-left {
  border-left: $mibi-grid-border;
}

.mibi-grid-cell--grid-bottom {
  border-bottom: $mibi-grid-border;
}

.mibi-grid-cell--grid-right {
  border-right: $mibi-grid-border;
}

.mibi-grid-cell__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mibi-grid-cell__overlay--col-header {
  bottom: 0;
  height: 1px;
  box-shadow: 0 0.5px 2px 0 black;
}

.mibi-grid-cell__overlay--row-header {
  right: 0;
  width: 1px;
  box-shadow: 0.5px 0 2px 0 black;
}

.mibi-cell {
  position: relative;
  height: 100%;
}

.mibi-cell__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mibi-cell__content {
  height: 100%;
  outline: $mibi-border-color solid 0.5px;
  outline-offset: -0.5px;
}

.mibi-hover-hint {
  background-color: rgba(black, $mibi-hover-opacity);
}

.mibi-selection-hint {
  background-color: rgba(black, $mibi-selection-opacity);
}

.mibi-selection--hover {
  background-color: rgba($mibi-ui-color, $mibi-hover-opacity);
}

.mibi-selection--selected {
  background-color: rgba($mibi-ui-color, $mibi-selection-opacity);
}

.mibi-selection--selected-hover {
  background-color: rgba($mibi-ui-color, $mibi-selection-opacity + $mibi-hover-opacity);
}

.mibi-selection-anchor {
  outline: $mibi-ui-color solid 2px;
  outline-offset: -2px;
}

.mibi-cursor {
  outline: $mibi-ui-color solid 3px;
  outline-offset: -3px;
}
