

<ngfFormData
  [files]      = "files"
  postName     = "myPostName"
  [(FormData)] = "sendableFormData"
></ngfFormData>

<ngfUploadStatus
  [(percent)] = "progress"
  [httpEvent] = "httpEvent"
></ngfUploadStatus>


<div class="container-fluid">

  <div class="row top-bottom-margin">
    <div class="col-md-10 col-md-offset-1">
      <h2>Validate "Probeneinsendebogen"</h2>
      <hr>
    </div>
  </div>

  <div class="row top-bottom-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="uploader"
        ngfDrop
        [selectable]       = "1"
        [maxSize]          = 2097152
        accept             = ".xls,.xlsx"
        (fileOver)         = "fileOverDropZone()"
        [ngClass]          = "{'another-file-over-class': validComboDrag}"
        [(files)]          = "files"
        [(file)]           = "file"
        [fileDropDisabled] = "dropDisabled"
        (fileChange)       = "invokeValidation($event)" >
        <label for="file-upload" id="file-drag">
          <img id="file-image" src="#" alt="Preview" class="hidden">
          <div id="start">
            <i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
            <div>Select or drag an excel file here</div>
            <span class="btn btn-primary">Select a file</span>
          </div>
          <div id="response" class="hidden">
            <div id="messages"></div>
            <progress class="progress" id="file-progress" value="0">
              <span>0</span>%
            </progress>
          </div>
        </label>
      </div>
    </div>
  </div>

</div>
