
<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
      <h2>Stammdaten</h2>
      <p>Fill in the missing fields</p>
      <hr>
      <form
        [formGroup]="myaccountForm"
        (ngSubmit)="saveUserData()">

        <div class="form-group">
          <label for="firstName">Vorname</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            formControlName="firstName"
            [placeholder]="currentUser.firstName"
            readonly>
        </div>

        <div class="form-group">
          <label for="lastName">Nachname</label>
          <input
            type="text"
            id="lastName"
            class="form-control"
            formControlName="lastName"
            [placeholder]="currentUser.lastName"
            readonly>
        </div>

        <div class="form-group">
          <label for="institute">Institut</label>
          <input
            type="text"
            id="institute"
            class="form-control"
            formControlName="institute"
            [placeholder]="getInstitutionName()"
            readonly>
        </div>

        <div class="form-group">
          <label for="institute">Abteilung</label>
          <input
            type="text"
            id="department"
            class="form-control"
            formControlName="department"
            [ngModel]="currentUserdata ? currentUserdata.department : ''"/>
        </div>

        <div class="form-group">
          <label for="institute">Strasse, Hausnummer</label>
          <input
            type="text"
            id="street"
            class="form-control"
            formControlName="street"
            [placeholder]="currentUser.institution.address1.street"
            readonly>
        </div>

        <div class="form-group">
          <label for="institute">PLZ, Ort</label>
          <input
            type="text"
            id="city"
            class="form-control"
            formControlName="city"
            [placeholder]="currentUser.institution.address1.city"
            readonly>
        </div>

        <div class="form-group">
          <label for="institute">Ansprechpartner</label>
          <input
            type="text"
            id="contact"
            class="form-control"
            formControlName="contact"
            [ngModel]="currentUserdata ? currentUserdata.contact : ''"/>
        </div>

        <div class="form-group">
          <label for="institute">Telefon-Nr.</label>
          <input
            type="text"
            id="phone"
            class="form-control"
            formControlName="phone"
            [ngModel]="currentUserdata ? currentUserdata.phone : ''"/>
        </div>

        <div class="form-group">
          <label for="institute">Email-Adresse</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            [ngModel]="currentUserdata ? currentUserdata.email : currentUser.email"/>
        </div>

        <div class="form-group">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!myaccountForm.valid">Submit</button>
          <a
            [routerLink]="['/myaccount']"
            class="btn btn-link">
              Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
