@import '../../../../assets/sass/abstracts';

.register-form__form-fields {
    display: flex;
    flex-direction: column;
  }

em {
    float: right;
    color: $error-color;
    padding-left: 5%;
    margin-bottom: 8px;
    text-align: right;
}


em[hidden] {
  visibility: hidden;
  display: block;
}

.pw-1 {
  margin-top: 3em;
}

.pw-strength {
  margin-top: 2rem;
}

.register-form__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    &> a {
      text-decoration: none;
  }
}

