@import "../../../../assets/sass/abstracts";

em {
  float: right;
  color: $error-color;
  padding-left: 5%;
  margin-bottom: $mibi-singleSpace;
  text-align: right;
}

em[hidden] {
  visibility: hidden;
  display: block;
}

.pw-1 {
  margin-top: 3em;
}

.pw-strength {
  margin-top: 2rem;
}

.register-form__buttons {
  margin-top: 3rem;

  & > a {
    text-decoration: none;
  }
}
