@import "../../../../assets/sass/abstracts";
@import "../../../../assets/sass/layout";

.mibi-register-mat-option {
  white-space: normal;
  height: auto;
  line-height: 1.5;
  padding-top: $mibi-single-space;
  padding-bottom: $mibi-single-space;
}

.mibi-register-actions {
  margin-top: $mibi-double-space;
  display: flex;
  justify-content: space-between;
}

.mibi-register-actions__button {
  flex: 0 0 auto;
}
