@use "@angular/material" as mat;
@use "layout";
@use "colors";
@use "../../nav-bar.styles" as nav;

.mibi-tabs {
  height: 100%;
  padding-top: layout.$half-space;
  display: flex;
  justify-content: space-between;
}

.mibi-tabs__item {
  flex: 0 1 auto;
}

.mibi-link {
  padding: layout.$single-space;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1rem;
  text-decoration: none;
  background-color: nav.$main-color;
  color: nav.$text-color;
}

.mibi-link:hover {
  background-color: mat.get-color-from-palette(colors.$primary-palette, "default");
  color: mat.get-color-from-palette(colors.$primary-palette, "default-contrast");
}

.mibi-link--active,
.mibi-link--active:hover {
  background-color: mat.get-color-from-palette(colors.$primary-palette, "lighter");
  color: mat.get-color-from-palette(colors.$primary-palette, "lighter-contrast");
}

.mibi-link__text {
  flex: 0 1 auto;
  padding-bottom: layout.$half-space;
}
