<mibi-layout-box>
    <nav class="mibi-footer-nav">
        <ul class="mibi-footer-nav-list">
            <li class="mibi-footer-nav-list__item">
                <a
                    class="mibi-footer-nav-link"
                    mat-button
                    color="primary"
                    href="https://www.bfr.bund.de"
                    target="_blank"
                >
                    BfR - Bundesinstitut für Risikobewertung
                </a>
            </li>
            <li class="mibi-footer-nav-list__item">
                <a
                    class="mibi-footer-nav-link"
                    mat-button
                    color="primary"
                    href="https://foodrisklabs.bfr.bund.de"
                    target="_blank"
                    >FoodRisk - Labs</a
                >
            </li>
            <li class="mibi-footer-nav-list__item">
                <a
                    class="mibi-footer-nav-link"
                    mat-button
                    color="primary"
                    [routerLink]="['/content/faq']"
                    >FAQ</a
                >
            </li>
            <li class="mibi-footer-nav-list__item">
                <a
                    class="mibi-footer-nav-link"
                    mat-button
                    color="primary"
                    href="api-docs/v2"
                    target="_blank"
                    rel="noopener"
                    >API-docs</a
                >
            </li>
            <li class="mibi-footer-nav-list__item">
                <a
                    class="mibi-footer-nav-link"
                    mat-button
                    color="primary"
                    [routerLink]="['/content/datenschutzerklaerung']"
                    >Datenschutzerklärung</a
                >
            </li>
            <li class="mibi-footer-nav-list__item">
                <a
                    class="mibi-footer-nav-link"
                    mat-button
                    color="primary"
                    href="mailto:{{ supportMailConfig.recipient }}?subject={{
                        supportMailConfig.subject
                    }}:&body={{ supportMailConfig.body }}"
                    target="_top"
                >
                    Problem melden
                </a>
            </li>
        </ul>
    </nav>
</mibi-layout-box>
