@import "../../../../assets/sass/abstracts";
@import "~@angular/material/theming";
@import "../../../../assets/sass/layout";

.mibi-footer-nav {
  height: 100%;
}

.mibi-footer-nav-list {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include list-style-none();
}

.mibi-footer-nav-list__item {
  flex: 1 1 auto;
}

.mibi-footer-nav-link {
  height: 100%;
  display: block;
}
