@import "../../../../assets/sass/abstracts";

.mibi-dynamic-handson-width {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.mibi-dynamic-handson-width__item {
  width: 0;
  flex: 1 0 auto;
  height: 100%;
}

.mibi-dynamic-handson-height {
  display: flex;
  flex-direction: column;
}

.mibi-dynamic-handson-height__item {
  flex: 1 0 0;
}

.mibi-handson-container {
  overflow: hidden;
}
