@import "../../../../assets/sass/abstracts";

.mibi-wot {
  display: flex;
  justify-content: center;
  margin-top: $mibi-double-space;
  padding: $mibi-double-space;
}

.mibi-wot__content {
  flex: 1 1 auto;
  max-width: 1024px;
}

.mibi-wot-title {
  text-align: center;
}

.mibi-wot-preamble {
  display: flex;
}

.mibi-wot-preamble__content {
  flex: 1 1 auto;
  width: 0;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: $mibi-single-space 0;
  border-top: 1px solid $primary-color;
  overflow: auto;
}
