@import '../../../../assets/sass/abstracts';
.wot-title {
 text-align: center;
 margin-top: 2%
}

.wot-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wot-preamble {
    width: 75%;
    padding-top: 8px;
    border-top: 1px solid $primary-color;
   }