<mibi-box-layout>
    <div class="mibi-wot">
        <div class="mibi-wot__content">
            <div class="mibi-wot-yellow-box">
                <p>
                    Der Untersuchungsauftrag (ehemals "Einsendebogen") V16 wird ab dem 01.05.2026 nicht mehr akzeptiert.
                    Somit können dann - knapp zweieinhalb Jahre nach Einführung des AVV DatA-Formats - keine ADV-Codes
                    mehr an das BfR gemeldet werden. Bitte verwenden Sie nur noch den Untersuchungsauftrag V18 und AVV DatA-Codes.
                </p>
            </div>
            <h1 class="mibi-wot-title">{{ cardtitle }}</h1>
            <div class="mibi-wot-preamble">
                <div class="mibi-wot-preamble__content">
                    <ng-content select="wot-preamble"></ng-content>
                </div>
            </div>
            <div>
                <ng-content select="wot-content"></ng-content>
            </div>
        </div>
    </div>
</mibi-box-layout>
