.wot-title {
 text-align: center;
 margin-top: 2%
}

.wot-divider {
    width: 50%;
}

.wot-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wot-preamble {
    width: 75%;
   }