/*
* Loader
*/

.loader-container {
    display: flex;
    justify-content: center;
  }
  
  .loader {
    border: 16px solid rgb(204, 204, 204); 
    border-top: 16px solid rgb(3, 78, 162);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  