@import "abstracts";
@import "layout";

.mibi-page-body {
  position: relative;
  height: 100%;
  overflow: auto;
}

.mibi-page-body__spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mibi-page-body__spinner--active {
  background-color: rgba(white, 0.75);
  z-index: 2;
}

.mibi-page-body__banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
  overflow: auto;
  z-index: 1;
}

.mibi-page-body__main {
  position: relative;
  height: 100%;
  z-index: 0;
}

.mibi-spinner {
  margin: $mibi-octuple-space auto;
}

.mibi-banner {
  @include mat-elevation(3);

  border-radius: 0 0 0.5rem 0.5rem;
}
