<mibi-box-layout x-overflow-handling y-overflow-handling>

  <div class="mibi-page-body">
    <div class="mibi-page-body__spinner" [ngClass]="{'mibi-page-body__spinner--active':isBusy}">
      <mat-spinner *ngIf="isBusy" class="mibi-spinner" color="primary" _forceAnimations="true">
      </mat-spinner>
    </div>
    <div class="mibi-page-body__banner mibi-banner"
      [@slideInOut]="animationState"
      (@slideInOut.done)="onAnimationDone($event)"
    >
      <mibi-banner-container></mibi-banner-container>
    </div>
    <div class="mibi-page-body__main"
      [@fadeAnimation]="o.isActivated ? (o.activatedRoute.url | async) : 'noRoute'"
      [@transitionAnimation]="o.isActivated ? (o.activatedRoute.url | async) : 'noRoute'"
    >
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>

</mibi-box-layout>