@use "sass:math";
@use "colors";
@use "layout";

.mibi-faq-toc {
  display: grid;
  padding-bottom: layout.$quadruple-space;
}

.mibi-faq-toc__content {
  margin: 0 auto;
}

.mibi-faq-toc-item {
  background: colors.$primary-color;
  margin: layout.$single-space 0;
  padding: math.div(layout.$half-space, 2) layout.$double-space;
  text-align: center;
}

.mibi-faq-toc-link {
  color: colors.$on-primary-color;
  text-decoration: none;
}

.mibi-faq-toc-link:hover {
  color: colors.$surface-color;
}
