
@import '../../../../assets/sass/abstracts';

.toc__row {
    background: $primary-color;
    width: 20%;
    margin: 4px;
    padding: 2px;
    text-align: center;
}

.toc {
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toc__link {
    color: $on-primary-color;
}
