<mat-accordion multi="true">
    <h3 *ngIf="title" class="mibi-title">{{title}}</h3>
    <mat-expansion-panel *ngFor="let entry of entries">
        <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
            <mat-panel-title>
                <div class="mibi-panel-title" [innerHtml]="sanitize(entry.question)"></div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="mibi-panel-text" [innerHtml]="sanitize(entry.answer)"></div>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>