table thead th {
  word-wrap: break-all;
  /* max-width: 50px; */
}


ul  {
  padding-left:0;
 }

 ul li  {
  list-style-position:inside
 }

 .tooltipster-sidetip.tooltipster-error .tooltipster-box {
     border: 1px solid black;
     border-radius: 5px;
     background: red;
     box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
 }
 .tooltipster-sidetip.tooltipster-error .tooltipster-content {
     font-size: 12px;
     font-style: normal;
     line-height: 1em;
     padding: 2px 5px 3px 5px;
     color: white;
 }
 .tooltipster-sidetip.tooltipster-error .tooltipster-arrow {
     height: 9px;
     margin-left: -9px;
     width: 18px;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow,
 .tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow {
     height: 14px;
     margin-left: 4px;
     margin-top: -16px;
     width: 5px;
 }
 .tooltipster-sidetip.tooltipster-error .tooltipster-arrow-background {
     border: 9px solid transparent;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-background {
     border-bottom-color: red;
     top: 1px;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow-background {
     border-left-color: red;
     left: -1px;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-background {
     border-right-color: red;
     left: 1px;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-top .tooltipster-arrow-background {
     border-top-color: red;
     top: -1px;
 }
 .tooltipster-sidetip.tooltipster-error .tooltipster-arrow-border {
     border: 9px solid transparent;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-border {
     border-bottom-color: black;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-left .tooltipster-arrow-border {
     border-left-color: black;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-border {
     border-right-color: black;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-top .tooltipster-arrow-border {
     border-top-color: black;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-bottom .tooltipster-arrow-uncropped {
     top: -9px;
 }
 .tooltipster-sidetip.tooltipster-error.tooltipster-right .tooltipster-arrow-uncropped {
     left: -9px;
 }

 .tooltipster-sidetip.tooltipster-warning .tooltipster-box {
     border: 1px solid black;
     border-radius: 5px;
     background: yellow;
     box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
 }
 .tooltipster-sidetip.tooltipster-warning .tooltipster-content {
     font-size: 12px;
     font-style: italic;
     line-height: 1em;
     padding: 2px 5px 3px 5px;
     color: black;
 }
 .tooltipster-sidetip.tooltipster-warning .tooltipster-arrow {
     height: 9px;
     margin-left: -9px;
     width: 18px;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-left .tooltipster-arrow,
 .tooltipster-sidetip.tooltipster-warning.tooltipster-right .tooltipster-arrow {
     height: 14px;
     margin-left: 4px;
     margin-top: -16px;
     width: 5px;
 }
 .tooltipster-sidetip.tooltipster-warning .tooltipster-arrow-background {
     border: 9px solid transparent;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-bottom .tooltipster-arrow-background {
     border-bottom-color: yellow;
     top: 1px;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-left .tooltipster-arrow-background {
     border-left-color: yellow;
     left: -1px;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-right .tooltipster-arrow-background {
     border-right-color: yellow;
     left: 1px;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-top .tooltipster-arrow-background {
     border-top-color: yellow;
     top: -1px;
 }
 .tooltipster-sidetip.tooltipster-warning .tooltipster-arrow-border {
     border: 9px solid transparent;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-bottom .tooltipster-arrow-border {
     border-bottom-color: black;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-left .tooltipster-arrow-border {
     border-left-color: black;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-right .tooltipster-arrow-border {
     border-right-color: black;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-top .tooltipster-arrow-border {
     border-top-color: black;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-bottom .tooltipster-arrow-uncropped {
     top: -9px;
 }
 .tooltipster-sidetip.tooltipster-warning.tooltipster-right .tooltipster-arrow-uncropped {
     left: -9px;
 }


 .tooltipster-sidetip.tooltipster-info .tooltipster-box {
     border: 1px solid black;
     border-radius: 5px;
     background: blue;
     box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
 }
 .tooltipster-sidetip.tooltipster-info .tooltipster-content {
     font-size: 12px;
     font-style: italic;
     line-height: 1em;
     padding: 2px 5px 3px 5px;
     color: white;
 }
 .tooltipster-sidetip.tooltipster-info .tooltipster-arrow {
     height: 9px;
     margin-left: -9px;
     width: 18px;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-left .tooltipster-arrow,
 .tooltipster-sidetip.tooltipster-info.tooltipster-right .tooltipster-arrow {
     height: 14px;
     margin-left: 4px;
     margin-top: -16px;
     width: 5px;
 }
 .tooltipster-sidetip.tooltipster-info .tooltipster-arrow-background {
     border: 9px solid transparent;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-bottom .tooltipster-arrow-background {
     border-bottom-color: blue;
     top: 1px;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-left .tooltipster-arrow-background {
     border-left-color: blue;
     left: -1px;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-right .tooltipster-arrow-background {
     border-right-color: blue;
     left: 1px;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-top .tooltipster-arrow-background {
     border-top-color: blue;
     top: -1px;
 }
 .tooltipster-sidetip.tooltipster-info .tooltipster-arrow-border {
     border: 9px solid transparent;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-bottom .tooltipster-arrow-border {
     border-bottom-color: black;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-left .tooltipster-arrow-border {
     border-left-color: black;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-right .tooltipster-arrow-border {
     border-right-color: black;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-top .tooltipster-arrow-border {
     border-top-color: black;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-bottom .tooltipster-arrow-uncropped {
     top: -9px;
 }
 .tooltipster-sidetip.tooltipster-info.tooltipster-right .tooltipster-arrow-uncropped {
     left: -9px;
 }


