/* You can add global styles to this file, and also import other global style files */

@use "tooltipster";
@use "material-init";
@use "material-stepper";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.mibi-action-link__tooltip {
  font-size: 0.9rem;
  line-height: 1.3;
}
