/* You can add global styles to this file, and also import other style files */
@import 'handsontable/dist/handsontable.full.css';


hr {
  height: 1px;
  background-color:rgb(3, 78, 168);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.primary {
  background: rgb(3, 78, 168) !important;
}

.handsontable td.warn{
  background-color: #FFFACD;
  font-weight: bold;
}

.handsontable td.error{
  background-color: #FFC1C1;
  font-weight: bold;
}

.handsontable td.corrected{
  background-color: #F0F8FF;
  font-weight: bold;
}

.handsontable td.changed{
  box-shadow: inset 0 0 0 2px #0de5cf;
}

