<form [formGroup]="passwordForm">

  <mat-form-field class="mibi-form-field" color="accent">
    <input matInput placeholder="Passwort" type="password" name="password1" formControlName="password1" required>
    <mat-error class="mibi-form-field__error">Zu schwaches oder zu kurzes Passwort.</mat-error>
  </mat-form-field>

  <div class="mibi-password-strength-meter">
    <password-strength-meter [password]="passwordForm.value.password1" minPasswordLength="8">
    </password-strength-meter>
  </div>

  <mat-form-field class="mibi-form-field" color="accent">
    <input matInput placeholder="Passwort bestätigen" type="password" name="password2" formControlName="password2" required>
      <mat-error class="mibi-form-field__error">Passwörter müssen übereinstimmen.</mat-error>
  </mat-form-field>

</form>