/* .yellow-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.yellow-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: yellow;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.yellow-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.yellow-tooltip:hover .tooltiptext {
  visibility: visible;
} */
