<div class="container-fluid">

  <div class="row">
      <app-spinner-container name="validationSpinner">
          <app-generic-spinner></app-generic-spinner>
        </app-spinner-container>
    <div
      *ngIf="!isValidateSpinnerShowing()"
      class="col-md-12 hot-table-container"
      (window:resize)="onResize($event)">

      <hotTable
        [data]="data"
        [colHeaders]="colHeaders"
        [columns]="columns"
        [options]="options"
        (afterChange)="afterChange($event)">
      </hotTable>

    </div>
  </div>

</div>



