@import "../../../../assets/sass/abstracts";

.mibi-reset-info {
  margin-bottom: $mibi-double-space;
}

.mibi-reset-field {
  display: block;
}

.mibi-reset-field__error {
  text-align: right;
}

.mibi-reset-strength-meter {
  margin-bottom: $mibi-double-space;
}

.mibi-reset-actions {
  margin-top: $mibi-double-space;
  display: flex;
  justify-content: space-between;
}

.mibi-reset-actions__button {
  flex: 0 0 auto;
}
