@import "abstracts";
@import "layout";

.mibi-reset-info {
  margin-bottom: $mibi-double-space;
}

.mibi-reset-actions {
  margin-top: $mibi-double-space;
  display: flex;
  justify-content: space-between;
}

.mibi-reset-actions__button {
  flex: 0 0 auto;
}
