@import "~@angular/material/theming";
@import "./themes";

/*
Put all your functions here, along with variables and mixins. In short, all your helpers.
(component independent variables)
*/

/*
* Palettes & colors
*/

$primary-palette: map-get($mibi-theme, primary);
$secondary-palette: map-get($mibi-theme, accent);
$error-palette: map-get($mibi-theme, warn);

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

/*
Fonts
*/

$mibi-typography: mat-typography-config(
  $font-family: $mibi-font-family
);

/*
Spaces
*/

$mibi-single-space: 8px;
$mibi-half-space: $mibi-single-space/2;
$mibi-double-space: $mibi-single-space * 2;
$mibi-triple-space: $mibi-single-space * 3;
$mibi-quadruple-space: $mibi-single-space * 4;
$mibi-quintuple-space: $mibi-single-space * 5;
$mibi-sextuple-space: $mibi-single-space * 6;
$mibi-septuple-space: $mibi-single-space * 7;
$mibi-octuple-space: $mibi-single-space * 8;
$mibi-nonuple-space: $mibi-single-space * 9;
$mibi-decuple-space: $mibi-single-space * 10;
