/*
in here, put all your boilerplate code. By boilerplate, I mean all CSS code you’re gonna write each time you’ll start a new project.
For example: typography rules, animations, utilities (by utilities, I mean classes like margin-right-large , text-center , …) and so on.
*/
@import '~@angular/material/theming';
@import './abstracts';
/*
Typography
Name          |	CSS classes                     |	Description
display-4     | .mat-display-4	                |	Large, one-off header, usually at the top of the page (e.g. a hero header).
display-      | .mat-display-3	                |	Large, one-off header, usually at the top of the page (e.g. a hero header).
display-2	    | .mat-display-2	                |	Large, one-off header, usually at the top of the page (e.g. a hero header).
display-1	    | .mat-display-1	                |	Large, one-off header, usually at the top of the page (e.g. a hero header).
headline	    | .mat-h1, .mat-headline	        |	Section heading corresponding to the <h1> tag.
title	        | .mat-h2, .mat-title	            |	Section heading corresponding to the <h2> tag.
subheading-2  | .mat-h3, .mat-subheading-2	    |	Section heading corresponding to the <h3> tag.
subheading-1	| .mat-h4, .mat-subheading-1	    |	Section heading corresponding to the <h4> tag.
body-1	      | .mat-body, .mat-body-1	        |	Base body text.
body-2	      | .mat-body-strong, .mat-body-2	  |	Bolder body text.
caption	      | .mat-small, .mat-caption	      |	Smaller body and hint text.
button	      | None. Used only in components.	|	Buttons and anchors.
input	        | None. Used only in components.	|	Form input fields.

MD defaults: 
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
*/

$mibi-typography: mat-typography-config(
   $font-family: $mibi-font-family
   );

   .hidden {
    display: none !important;
  }