/*
The name is explicit here. This folder contains all the components used to build your pages like your buttons, forms, swipers, popups, and so on.
*/
.alphabetic-list {
    list-style-type: lower-alpha;
}
