/*
used to layout the different parts of your page, that is to say, your header, footer, navigation, section, your own grid, and more.
(component independent layout styles)
*/

@mixin list-style-none() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mibi-form-field {
  display: block;
}

.mibi-form-field__mat-error {
  text-align: right;
}

// fix for flex-column in safari, opera not setting the height to flexed height
@mixin mibi-layout-safari-fix {
  height: max-content;

  // fix for chrome 75 because of changed height calculation
  //min-height: max-content;
}
